
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.student-login-form-8ar {
  width: 100%;
  height: 108rem;
  position: relative;
  overflow: hidden;
  background-color: #000616;

  .rectangle-1-Gwx {
    width: 76.5rem;
    height: 87.8rem;
    position: absolute;
    left: 57.8rem;
    top: 10.1rem;
    background-color: #d9d9d9;
  }
  .microsoft-form-cF8 {
    width: 66.6rem;
    height: 75.5rem;
    top: 16.25rem;
    align-items: center;
    font-size: 20rem;
    color: #000000;
    font-family: Segoe UI, 'Source Sans Pro';
    position: absolute;
    left: 62.75rem;
    display: flex;
    justify-content: center;
    font-weight: 400;
    line-height: 1.2575;
  }
}
