
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.student-login-failed-uWW {
  padding: 15.75rem 66.4rem 40.4rem 66.3rem;
  width: 100%;
  position: relative;
  display: flex;
  background-color: #000616;
  box-sizing: border-box;
  overflow: hidden;
  align-items: center;
  flex-direction: column;

  .text-cA2 {
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-family: Segoe UI, 'Source Sans Pro';
    margin: 0rem 0rem 1.9rem 0.1rem;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.2575;
    white-space: nowrap;
    flex-shrink: 0;
    display: flex;
  }
  .title-KKL {
    white-space: nowrap;
    align-items: center;
    font-weight: 300;
    font-family: Segoe UI, 'Source Sans Pro';
    font-size: 2.5rem;
    line-height: 1.2575;
    color: #ffffff;
    flex-shrink: 0;
    margin-bottom: 24.2rem;
    display: flex;
    justify-content: center;
  }
  .title-3WE {
    max-width: 59.3rem;
    align-items: center;
    line-height: 1.2575;
    color: #ffffff;
    font-family: Segoe UI, 'Source Sans Pro';
    flex-shrink: 0;
    margin-bottom: 4.85rem;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-weight: 300;
  }
  .continue-button-N2i {
    width: calc(100% - 29.2rem);
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1.2575;
    color: #ffffff;
    white-space: nowrap;
    flex-shrink: 0;
    font-family: Segoe UI, 'Source Sans Pro';
    background-color: #0e48e0;
    margin: 0 14.6rem;
    display: flex;
    justify-content: center;
    height: 5rem;
    align-items: center;
    border-radius: 4.5rem;
  }
}
