
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.student-login-failed-twice-4JJ {
  padding: 25.55rem 72.05rem 38.6rem 71.95rem;
  width: 100%;
  display: flex;
  background-color: #000616;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;

  .text-N46 {
    justify-content: center;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.2575;
    font-family: Segoe UI, 'Source Sans Pro';
    margin: 0rem 0rem 1.9rem 0.1rem;
    display: flex;
    align-items: center;
    color: #ffffff;
    white-space: nowrap;
    flex-shrink: 0;
  }
  .title-4xW {
    margin-bottom: 20rem;
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    line-height: 1.2575;
    flex-shrink: 0;
    justify-content: center;
    font-weight: 300;
    color: #ffffff;
    font-family: Segoe UI, 'Source Sans Pro';
    white-space: nowrap;
  }
  .title-bhY {
    line-height: 1.2575;
    color: #ffffff;
    margin-bottom: 4.85rem;
    align-items: center;
    font-size: 3rem;
    font-weight: 300;
    font-family: Segoe UI, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
  }
  .continue-button-j34 {
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-family: Segoe UI, 'Source Sans Pro';
    align-items: center;
    font-size: 2.5rem;
    line-height: 1.2575;
    white-space: nowrap;
    height: 5rem;
    border-radius: 4.5rem;
    margin: 0 8.95rem;
    width: calc(100% - 17.9rem);
    font-weight: 400;
    background-color: #0e48e0;
    flex-shrink: 0;
  }
}
