
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.student-login-mssv-XCS {
  flex-direction: column;
  padding: 15.75rem 78.3rem 36.4rem 78.3rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  display: flex;
  background-color: #000616;

  .text-SKQ {
    margin-bottom: 1.9rem;
    justify-content: center;
    font-size: 4rem;
    line-height: 1.2575;
    color: #ffffff;
    white-space: nowrap;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-family: Segoe UI, 'Source Sans Pro';
    flex-shrink: 0;
  }
  .title-Zev {
    white-space: nowrap;
    flex-shrink: 0;
    font-weight: 300;
    line-height: 1.2575;
    color: #ffffff;
    margin: 0rem 0.1rem 21.3rem 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    font-family: Segoe UI, 'Source Sans Pro';
  }
  .title-gUe {
    font-weight: 300;
    color: #ffffff;
    font-family: Segoe UI, 'Source Sans Pro';
    flex-shrink: 0;
    align-items: center;
    font-size: 3rem;
    justify-content: center;
    line-height: 1.2575;
    white-space: nowrap;
    margin: 0rem 0.1rem 4.5rem 0rem;
    display: flex;
  }
  .title-BwC {
    color: #ffffff;
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0rem 0.1rem 0.55rem 0rem;
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: 300;
    align-items: center;
    line-height: 1.2575;
    font-family: Segoe UI, 'Source Sans Pro';
  }
  .line-1-WCn {
    background-color: #ffffff;
    flex-shrink: 0;
    margin: 0rem 6.5rem 7.27rem 6.5rem;
    width: calc(100% - 13rem);
    height: 0.03rem;
  }
  .continue-button-pDU {
    font-weight: 400;
    background-color: #0e48e0;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    flex-shrink: 0;
    width: calc(100% - 5.3rem);
    display: flex;
    font-size: 2.5rem;
    color: #ffffff;
    border-radius: 4.5rem;
    margin: 0rem 2.7rem 0rem 2.6rem;
    height: 5rem;
    line-height: 1.2575;
    font-family: Segoe UI, 'Source Sans Pro';
  }
}
