
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.student-login-failed-uWW {
  box-sizing: border-box;
  padding: 15.75rem 66.4rem 40.4rem 66.3rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #000616;
}
.student-login-failed-uWW .text-cA2 {
  margin: 0rem 0rem 1.9rem 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Segoe UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.student-login-failed-uWW .title-KKL {
  margin-bottom: 24.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Segoe UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.student-login-failed-uWW .title-3WE {
  margin-bottom: 4.85rem;
  max-width: 59.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Segoe UI, 'Source Sans Pro';
  flex-shrink: 0;
}
.student-login-failed-uWW .continue-button-N2i {
  margin: 0 14.6rem;
  width: calc(100% - 29.2rem);
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Segoe UI, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #0e48e0;
  border-radius: 4.5rem;
  flex-shrink: 0;
}
