<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Student login - failed twice</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Segoe+UI%3A300%2C400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A300%2C400%2C700"/>
  <link rel="stylesheet" href="./styles/student-login-failed-twice.css"/>
</head>
<body>
<div class="student-login-failed-twice-4JJ">
  <div class="text-N46">Welcome to Class #1</div>
  <div class="title-4xW">Subject #1 - Mr. Tran Van A</div>
  <div class="title-bhY">Sorry, you can not enter the quizz twice.</div>
  <div class="continue-button-j34">Bye</div>
</div>
</body>