<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Student login - form</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Segoe+UI%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"/>
  <link rel="stylesheet" href="./styles/student-login-form.css"/>
</head>
<body>
<div class="student-login-form-8ar">
  <div class="rectangle-1-Gwx">
  </div>
  <div class="microsoft-form-cF8">MICROSOFT FORM</div>
</div>
</body>