<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Student login - failed expired</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Segoe+UI%3A300%2C400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A300%2C400%2C700"/>
  <link rel="stylesheet" href="./styles/student-login-failed-expired.css"/>
</head>
<body>
<div class="student-login-failed-expired-tyU">
  <div class="text-bst">Welcome to Class #1</div>
  <div class="title-JXQ">Subject #1 - Mr. Tran Van A</div>
  <div class="title-EAA">Sorry, the quiz is expired. Good luck next time!</div>
  <div class="continue-button-MEn">Bye</div>
</div>
</body>