<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Student login - Failed</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Segoe+UI%3A300%2C400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A300%2C400%2C700"/>
  <link rel="stylesheet" href="./styles/student-login-failed.css"/>
</head>
<body>
<div class="student-login-failed-uWW">
  <div class="text-cA2">Welcome to Class #1</div>
  <div class="title-KKL">Subject #1 - Mr. Tran Van A</div>
  <div class="title-3WE">This seems like you are not at the class right now. You must be in the class to access to the quizz.</div>
  <div class="continue-button-N2i">Bye!</div>
</div>
</body>