<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Student login - Name</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Segoe+UI%3A300%2C400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A300%2C400%2C700"/>
  <link rel="stylesheet" href="./styles/student-login-name.css"/>
</head>
<body>
<div class="student-login-name-7Ft">
  <div class="text-cyL">Welcome to Class #1</div>
  <div class="title-wki">Subject #1 - Mr. Tran Van A</div>
  <div class="title-GHC">Thank you! What’s your full name?</div>
  <div class="title-Bf4">Vu Le Nhat Minh</div>
  <div class="line-1-72v">
  </div>
  <div class="continue-button-3hG">Continue</div>
</div>
</body>