<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Student login</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A300%2C400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Segoe+UI%3A300%2C400%2C700"/>
  <link rel="stylesheet" href="./styles/student-login.css"/>
</head>
<body>
<div class="student-login-BRY">
  <div class="text-3yY">Welcome to Class #1</div>
  <div class="title-wJE">Subject #1 - Mr. Tran Van A</div>
  <div class="title-eyL">Before continuing, please grant access to your Location</div>
  <div class="continue-button-Awg">Continue</div>
</div>
</body>