
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.management-quizzes-quizz-1-full-size-RGi {
  box-sizing: border-box;
  padding: 12.4rem 72rem 22.8rem 72rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  row-gap: 6.1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #191e2b;
}
.management-quizzes-quizz-1-full-size-RGi .title-Tz6 {
  margin-left: 0.0323rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Segoe UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.management-quizzes-quizz-1-full-size-RGi .logo-ZXL {
  width: 48rem;
  height: 48rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.management-quizzes-quizz-1-full-size-RGi .title-uLJ {
  margin-left: 0.0323rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Segoe UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
