
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 267.4rem;
}.pallette-xtE {
  box-sizing: border-box;
  padding: 26.3rem 41.5rem 26.3rem 13.5rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #181818;
}
.pallette-xtE .logo-Tpz {
  margin: 0rem 1.3rem 34.5rem 0rem;
  width: 7rem;
  height: 7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.pallette-xtE .auto-group-qjg6-Bkz {
  margin: 0rem 3.4rem 44.5rem 0rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pallette-xtE .auto-group-qjg6-Bkz .rectangle-7-WoG {
  margin: 0rem 2rem 7.5rem 0rem;
  width: 10rem;
  height: 10rem;
  background-color: #ffffff;
  flex-shrink: 0;
}
.pallette-xtE .auto-group-qjg6-Bkz .auto-group-5wgn-dst {
  width: 9.2rem;
  height: 16.7rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pallette-xtE .auto-group-bsfp-yRx {
  margin-bottom: 43.1rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pallette-xtE .auto-group-bsfp-yRx .rectangle-8-KVp {
  margin: 0rem 0rem 8rem 1.8rem;
  width: 10rem;
  height: 10rem;
  background-color: #1265e2;
  flex-shrink: 0;
}
.pallette-xtE .auto-group-bsfp-yRx .toright-1-T6E {
  margin: 0rem 0rem 1.1rem 0.7rem;
  width: 7.6rem;
  height: 7.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pallette-xtE .auto-group-bsfp-yRx .toright-thick-1-mci {
  width: 8.9rem;
  height: 8.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pallette-xtE .auto-group-xt22-6ez {
  margin: 0rem 0.5rem 27.8rem 0rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pallette-xtE .auto-group-xt22-6ez .time-1-EWJ {
  margin-bottom: 3rem;
  width: 6.7rem;
  height: 6.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pallette-xtE .auto-group-xt22-6ez .time-thick-1-Aer {
  margin-left: 0.1rem;
  width: 5.2rem;
  height: 5.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pallette-xtE .auto-group-vjhy-74J {
  margin: 0rem 2.8rem 45.6rem 0rem;
  width: 10rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pallette-xtE .auto-group-vjhy-74J .rectangle-9-pDc {
  margin-bottom: 8.6rem;
  width: 100%;
  height: 10rem;
  background-color: #000000;
  flex-shrink: 0;
}
.pallette-xtE .auto-group-vjhy-74J .subject-1-Zgz {
  margin: 0rem 0rem 2.1rem 1.5rem;
  width: 5.5rem;
  height: 5.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pallette-xtE .auto-group-vjhy-74J .subject-thick-1-VKk {
  margin-left: 0.1rem;
  width: 6.9rem;
  height: 6.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pallette-xtE .auto-group-ja7x-cfG {
  margin: 0rem 1.3rem 44.8rem 0rem;
  width: 20.3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pallette-xtE .auto-group-ja7x-cfG .rectangle-10-YYv {
  margin: 0rem 5.9rem 6.9rem 4.4rem;
  width: calc(100% - 10.3rem);
  height: 10rem;
  background-color: #000616;
  flex-shrink: 0;
}
.pallette-xtE .auto-group-ja7x-cfG .auto-group-xoav-fNe {
  margin: 0rem 0.7rem 0.8rem 0rem;
  width: calc(100% - 0.7rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.pallette-xtE .auto-group-ja7x-cfG .auto-group-xoav-fNe .sun-line-1-CNa {
  margin-right: 3.5rem;
  width: 8.8rem;
  height: 8.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pallette-xtE .auto-group-ja7x-cfG .auto-group-xoav-fNe .qr-1-92v {
  margin-bottom: 0.5rem;
  width: 7.3rem;
  height: 7.3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pallette-xtE .auto-group-ja7x-cfG .auto-group-uk6a-5BU {
  margin-left: 1.6rem;
  width: calc(100% - 1.6rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.pallette-xtE .auto-group-ja7x-cfG .auto-group-uk6a-5BU .sun-fill-1-cx6 {
  margin: 0.2rem 4.3rem 0rem 0rem;
  width: 7.2rem;
  height: 7.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pallette-xtE .auto-group-ja7x-cfG .auto-group-uk6a-5BU .qr-thick-1-Yar {
  margin-bottom: 0.2rem;
  width: 7.2rem;
  height: 7.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pallette-xtE .auto-group-h3la-sd8 {
  margin: 0rem 4.2rem 45rem 0rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pallette-xtE .auto-group-h3la-sd8 .rectangle-11-Qd4 {
  margin: 0rem 1rem 5.9rem 0rem;
  width: 10rem;
  height: 10rem;
  background-color: #2bff80;
  flex-shrink: 0;
}
.pallette-xtE .auto-group-h3la-sd8 .right-1-83G {
  margin: 0rem 0.1rem 0.8rem 0rem;
  width: 8.8rem;
  height: 8.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pallette-xtE .auto-group-h3la-sd8 .right-thick-1-T5Y {
  width: 8.2rem;
  height: 8.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pallette-xtE .auto-group-1j1c-PUz {
  margin: 0rem 0.6rem 45.8rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pallette-xtE .auto-group-1j1c-PUz .rectangle-12-j34 {
  margin: 0rem 0rem 4.5rem 2rem;
  width: 10rem;
  height: 10rem;
  background-color: #aa261b;
  flex-shrink: 0;
}
.pallette-xtE .auto-group-1j1c-PUz .export-1-4b8 {
  margin-bottom: 2.5rem;
  width: 8.3rem;
  height: 8.3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pallette-xtE .auto-group-1j1c-PUz .clip-path-group-Qez {
  margin-left: 0.7rem;
  width: 7.6rem;
  height: 7.6rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pallette-xtE .auto-group-p9nw-jBU {
  margin: 0rem 3.1rem 44.7rem 0rem;
  width: 20.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pallette-xtE .auto-group-p9nw-jBU .rectangle-13-TdG {
  margin: 0rem 3.6rem 4.5rem 6.6rem;
  width: calc(100% - 10.2rem);
  height: 10rem;
  background-color: #c84800;
  flex-shrink: 0;
}
.pallette-xtE .auto-group-p9nw-jBU .auto-group-zcaj-BZG {
  margin-bottom: 4.6rem;
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.pallette-xtE .auto-group-p9nw-jBU .auto-group-zcaj-BZG .class-1-wHY {
  margin: 0rem 5.9rem 0.3rem 0rem;
  width: 7.3rem;
  height: 7.3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pallette-xtE .auto-group-p9nw-jBU .auto-group-zcaj-BZG .date-1-U2a {
  width: 7rem;
  height: 7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pallette-xtE .auto-group-p9nw-jBU .auto-group-bm3c-246 {
  margin-right: 0.6rem;
  width: calc(100% - 0.6rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.pallette-xtE .auto-group-p9nw-jBU .auto-group-bm3c-246 .class-thick-1-xyL {
  margin-right: 5.9rem;
  width: 7.3rem;
  height: 7.3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pallette-xtE .auto-group-p9nw-jBU .auto-group-bm3c-246 .date-thick-1-hvv {
  margin-top: 0.3rem;
  width: 6.4rem;
  height: 6.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pallette-xtE .auto-group-bd5q-dZg {
  margin: 0rem 3.7rem 46.1rem 0rem;
  width: 23.6rem;
  flex-shrink: 0;
}
.pallette-xtE .auto-group-bd5q-dZg .auto-group-ktkl-MVg {
  margin: 0rem 0rem 5rem 0.5rem;
  width: calc(100% - 0.5rem);
  display: flex;
  align-items: center;
}
.pallette-xtE .auto-group-bd5q-dZg .auto-group-ktkl-MVg .rectangle-14-HPL {
  margin-right: 3.1rem;
  width: 10rem;
  height: 10rem;
  background-color: #fcd173;
  flex-shrink: 0;
}
.pallette-xtE .auto-group-bd5q-dZg .auto-group-ktkl-MVg .rectangle-15-2Lv {
  width: 10rem;
  height: 10rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.pallette-xtE .auto-group-bd5q-dZg .auto-group-dptt-N9t {
  margin-bottom: 2.6rem;
  display: flex;
  align-items: center;
}
.pallette-xtE .auto-group-bd5q-dZg .auto-group-dptt-N9t .add-1-Wmt {
  margin: 0rem 2.4rem 0.5rem 0rem;
  width: 5.5rem;
  height: 5.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pallette-xtE .auto-group-bd5q-dZg .auto-group-dptt-N9t .menu-1-FDg {
  margin-right: 1.6rem;
  width: 7.8rem;
  height: 7.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pallette-xtE .auto-group-bd5q-dZg .auto-group-dptt-N9t .moon-line-1-BNE {
  margin-top: 0.6rem;
  width: 4.4rem;
  height: 4.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pallette-xtE .auto-group-bd5q-dZg .auto-group-ukmy-v4v {
  margin-left: 1.2rem;
  display: flex;
  align-items: center;
}
.pallette-xtE .auto-group-bd5q-dZg .auto-group-ukmy-v4v .add-thick-1-TqY {
  margin: 1.1rem 3.2rem 0rem 0rem;
  width: 4.5rem;
  height: 4.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pallette-xtE .auto-group-bd5q-dZg .auto-group-ukmy-v4v .menu-thick-1-bRx {
  margin-right: 1.2rem;
  width: 7.2rem;
  height: 7.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pallette-xtE .auto-group-bd5q-dZg .auto-group-ukmy-v4v .moon-fill-1-L8e {
  margin-bottom: 0.7rem;
  width: 6.3rem;
  height: 6.3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pallette-xtE .auto-group-ftmg-FFc {
  margin: 0rem 4.3rem 29.9rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pallette-xtE .auto-group-ftmg-FFc .human-1-nFY {
  margin: 0rem 0rem 2rem 0.3rem;
  width: 6.4rem;
  height: 6.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pallette-xtE .auto-group-ftmg-FFc .human-thick-1-uLA {
  width: 8.6rem;
  height: 8.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pallette-xtE .auto-group-rjpa-3SN {
  margin: 0rem 4.1rem 30rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pallette-xtE .auto-group-rjpa-3SN .notification-1-PFL {
  margin: 0rem 0rem 3.4rem 1.1rem;
  width: 6.1rem;
  height: 6.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pallette-xtE .auto-group-rjpa-3SN .notification-thick-1-iHc {
  width: 4.2rem;
  height: 4.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pallette-xtE .auto-group-hefy-FoL {
  margin: 0rem 2.2rem 30.3rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pallette-xtE .auto-group-hefy-FoL .left-1-noG {
  margin-bottom: 4.4rem;
  width: 6.3rem;
  height: 6.3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pallette-xtE .auto-group-hefy-FoL .left-thick-1-wAN {
  width: 8.3rem;
  height: 8.3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pallette-xtE .auto-group-qvpg-fs4 {
  margin: 0rem 5.9rem 32.4rem 0rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pallette-xtE .auto-group-qvpg-fs4 .dashboard-2-D7t {
  margin-bottom: 5.7rem;
  width: 6.5rem;
  height: 5.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.pallette-xtE .auto-group-qvpg-fs4 .dashboard-thick-1-wpa {
  width: 4.8rem;
  height: 4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.pallette-xtE .auto-group-eddg-5vn {
  margin-bottom: 31.8rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pallette-xtE .auto-group-eddg-5vn .quiz-1-dhQ {
  margin-bottom: 0.9rem;
  width: 9.8rem;
  height: 9.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pallette-xtE .auto-group-eddg-5vn .quiz-thick-1-BD8 {
  width: 9.7rem;
  height: 9.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
