
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.management-classes-new-class-CVL {
  display: flex;
  align-items: center;
  background-color: #000616;
  box-sizing: border-box;
  padding-left: 1.5rem;
  width: 100%;
  overflow: hidden;
  position: relative;

  .nav-bar-VjL {
    margin-right: 0.5rem;
    width: 27.2rem;
    height: 104.4rem;
    position: relative;
    flex-shrink: 0;

    .background-DvE {
      border-radius: 1.9rem;
      width: 26.2rem;
      height: 104.4rem;
      position: absolute;
      left: 0;
      top: 0;
      backdrop-filter: blur(0.6rem);
      background-color: rgba(255, 255, 255, 0.0599999987);
    }
    .account-8nJ {
      width: 13.8rem;
      height: 3.2rem;
      position: absolute;
      left: 3.3rem;
      top: 96.4rem;
      display: flex;
      align-items: center;

      .logo-U5U {
        margin-right: 1.4rem;
        width: 3.2rem;
        height: 3.2rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .title-odY {
        flex-shrink: 0;
        display: flex;
        font-size: 2rem;
        font-weight: 600;
        line-height: 1.2575;
        color: #ffffff;
        font-family: Segoe UI, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .preferences-jXC {
      position: absolute;
      left: 3.3rem;
      top: 58.7rem;
      display: flex;
      align-items: center;
      width: 14.8rem;
      height: 3.2rem;

      .logo-Ti6 {
        flex-shrink: 0;
        margin-right: 1.4rem;
        width: 3.2rem;
        height: 3.2rem;
        object-fit: cover;
        vertical-align: top;
      }
      .title-o1G {
        color: #ffffff;
        font-family: Segoe UI, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 2rem;
        font-weight: 600;
        line-height: 1.2575;
      }
    }
    .notification-8ZL {
      width: 14.8rem;
      height: 3.2rem;
      position: absolute;
      left: 3.3rem;
      top: 50.6rem;
      display: flex;
      align-items: center;

      .logo-sG2 {
        margin-right: 1.4rem;
        width: 3.2rem;
        height: 3.2rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .title-17L {
        color: #ffffff;
        font-family: Segoe UI, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 2rem;
        font-weight: 600;
        line-height: 1.2575;
      }
    }
    .export-kKp {
      height: 3.2rem;
      position: absolute;
      left: 3.3rem;
      top: 42.5rem;
      display: flex;
      align-items: center;
      width: 10.3rem;

      .logo-Tzv {
        margin-right: 1.4rem;
        width: 3.2rem;
        height: 3.2rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .title-oot {
        color: #ffffff;
        font-family: Segoe UI, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 2rem;
        font-weight: 600;
        line-height: 1.2575;
      }
    }
    .management-9sk {
      position: absolute;
      left: 3.3rem;
      top: 23.6rem;
      width: 20rem;
      height: 15.1rem;

      .auto-group-m7bl-gcn {
        margin: 0rem 6rem 0.3rem 0rem;
        width: calc(100% - 6rem);
        display: flex;
        align-items: center;

        .logo-cWS {
          flex-shrink: 0;
          margin-right: 1.4rem;
          width: 3.2rem;
          height: 3.2rem;
          object-fit: cover;
          vertical-align: top;
        }
        .title-MU2 {
          display: flex;
          font-size: 2rem;
          font-weight: 600;
          line-height: 1.2575;
          color: #ffffff;
          font-family: Segoe UI, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .auto-group-11nw-tyk {
        margin-left: 1.5rem;
        width: calc(100% - 1.5rem);
        display: flex;
        align-items: flex-end;

        .line-r9t {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0.5rem 1.85rem 0rem;
          width: 1.7rem;
          height: 9.75rem;
        }
        .auto-group-yz3l-AwG {
          flex-shrink: 0;
          width: 16.3rem;

          .title-iht {
            color: #ffffff;
            font-family: Segoe UI, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 2.6rem 0.9rem;
            display: flex;
            font-size: 2rem;
            font-weight: 600;
            line-height: 1.2575;
          }
          .auto-group-uwun-dpr {
            width: 100%;
            display: flex;
            font-weight: 600;
            line-height: 1.2575;
            color: #ffffff;
            font-family: Segoe UI, 'Source Sans Pro';
            background-color: rgba(255, 255, 255, 0.5400000215);
            box-sizing: border-box;
            padding: 0.6rem 0.9rem;
            font-size: 2rem;
            white-space: nowrap;
            border-radius: 0.5rem;
          }
        }
      }
    }
    .new-quiz-KSn {
      padding: 1.3rem 8rem 1.3rem 2rem;
      width: 22.7rem;
      height: 5.8rem;
      background-color: rgba(0, 48, 218, 0.4699999988);
      display: flex;
      align-items: center;
      border-radius: 1rem;
      box-sizing: border-box;
      position: absolute;
      left: 1.3rem;
      top: 14.2rem;

      .logo-DYA {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.4rem;
        width: 3.2rem;
        height: 3.2rem;
        object-fit: cover;
      }
      .title-8QE {
        font-weight: 600;
        line-height: 1.2575;
        color: #e4e4e4;
        font-family: Segoe UI, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 2rem;
      }
    }
    .logo-e7g {
      width: 16.35rem;
      height: 4.7rem;
      position: absolute;
      left: 2.2rem;
      top: 3.1rem;
      display: flex;
      align-items: center;

      .logo-Ari {
        margin-right: 2.55rem;
        width: 4.7rem;
        height: 4.7rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .logo-hbk {
        align-items: center;
        font-weight: 700;
        color: #ffffff;
        font-family: Segoe UI, 'Source Sans Pro';
        margin-bottom: 0.1rem;
        display: flex;
        justify-content: center;
        font-size: 2rem;
        line-height: 1.2575;
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .expand-button-dEW {
      top: 4.1rem;
      width: 2.1rem;
      height: 2.3rem;
      position: absolute;
      left: 25.1rem;

      .ellipse-1-xna {
        width: 2.1rem;
        height: 2.1rem;
        position: absolute;
        left: 0;
        top: 0.2rem;
        background-color: rgba(255, 255, 255, 0.0599999987);
        border-radius: 1.05rem;
      }
      .item--5sC {
        height: 2.1rem;
        left: 0.55rem;
        top: 0;
        font-size: 1.6rem;
        font-family: Segoe UI, 'Source Sans Pro';
        white-space: nowrap;
        width: 0.8rem;
        position: absolute;
        text-align: center;
        font-weight: 400;
        line-height: 1.2575;
        color: #ffffff;
      }
    }
  }
  .right-bar-b4r {
    width: 162.8rem;
    height: 108.1rem;
    position: relative;
    flex-shrink: 0;

    .upcoming-Xz6 {
      background-color: rgba(255, 255, 255, 0.5400000215);
      box-sizing: border-box;
      padding: 4.1rem 8.052rem 24rem 7.3rem;
      width: 144.8rem;
      position: absolute;
      top: 16.8rem;
      align-items: center;
      display: flex;
      border-radius: 0.5rem;
      height: 84.6rem;
      left: 6.8rem;
      flex-direction: column;

      .auto-group-9exe-QHC {
        margin: 0rem 0.048rem 3.5rem 0rem;
        width: calc(100% - 0.0477rem);
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .title-vFY {
          margin: 0.45rem 2.1rem 0rem 0rem;
          display: flex;
          font-weight: 700;
          color: #000000;
          font-family: Segoe UI, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 2rem;
          line-height: 1.2575;
          flex-shrink: 0;
        }
        .count-q7c {
          display: flex;
          font-weight: 700;
          color: #000000;
          font-family: Segoe UI, 'Source Sans Pro';
          height: 3.5rem;
          align-items: center;
          line-height: 1.2575;
          border-radius: 0.5rem;
          flex-shrink: 0;
          width: 3.6rem;
          white-space: nowrap;
          justify-content: center;
          font-size: 2rem;
          background-color: #d9d9d9;
          margin-right: 99.9rem;
        }
        .qr-button-utA {
          background-color: #2b80ff;
          border-radius: 0.5rem;
          flex-shrink: 0;
          margin-top: 1rem;
          box-sizing: border-box;
          padding: 0.9rem 1.7rem 1.1rem 1.7rem;
          display: flex;
          align-items: center;

          .navigation-EvS {
            margin: 0.1rem 2.7rem 0rem 0rem;
            display: flex;
            font-weight: 600;
            line-height: 1.2575;
            color: #000000;
            font-family: Segoe UI, 'Source Sans Pro';
            font-size: 1rem;
            white-space: nowrap;
            flex-shrink: 0;
          }
          .logo-LyU {
            flex-shrink: 0;
            width: 2.4rem;
            height: 2.4rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
      }
      .object1-GML {
        border-radius: 0.5rem;
        flex-shrink: 0;
        margin-bottom: 2.6rem;
        padding: 1.239rem 3.648rem 1.392rem 3.5rem;
        width: 100%;
        background-color: #d9d9d9;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;

        .title-aN2 {
          display: flex;
          font-size: 3rem;
          line-height: 1.2575;
          font-family: Segoe UI, 'Source Sans Pro';
          margin-bottom: 0.4356rem;
          font-weight: 700;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
        }
        .navigation-Vjt {
          font-weight: 300;
          line-height: 1.2575;
          color: #000000;
          font-family: Segoe UI, 'Source Sans Pro';
          flex-shrink: 0;
          display: flex;
          font-size: 1rem;
          white-space: nowrap;
          margin-bottom: 1.0417rem;
        }
        .footer-q34 {
          flex-shrink: 0;
          width: 100%;
          display: flex;
          flex-direction: column;

          .line-7-bH8 {
            height: 0;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 0.651rem;
            width: 122.3rem;
          }
          .auto-group-8y7k-8Xx {
            width: calc(100% - 108.6735rem);
            height: 1.3407rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-right: 108.6735rem;

            .interval-ryk {
              align-items: center;
              flex-shrink: 0;
              margin: 0.041rem 2.3rem 0rem 0rem;
              height: calc(100% - 0.0407rem);
              display: flex;

              .logo-C22 {
                height: 0.8167rem;
                object-fit: cover;
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 0.7rem;
                width: 0.7rem;
              }
              .navigation-vyc {
                display: flex;
                font-size: 1rem;
                font-weight: 300;
                line-height: 1.2575;
                color: #000000;
                font-family: Segoe UI, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .date-fgJ {
              height: calc(100% - 0.0407rem);
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin-bottom: 0.0407rem;

              .logo-pJJ {
                margin: 0.081rem 0.827rem 0rem 0rem;
                width: 0.7rem;
                height: 0.8167rem;
                object-fit: cover;
                vertical-align: top;
                flex-shrink: 0;
              }
              .navigation-v6S {
                display: flex;
                font-size: 1rem;
                font-weight: 300;
                line-height: 1.2575;
                color: #000000;
                font-family: Segoe UI, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
          }
        }
      }
      .object1-Rot {
        background-color: #d9d9d9;
        border-radius: 0.5rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.239rem 3.648rem 1.392rem 3.5rem;
        flex-direction: column;
        margin-bottom: 2.6rem;
        width: 100%;
        display: flex;

        .title-w1Y {
          font-family: Segoe UI, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 0.4356rem;
          font-size: 3rem;
          font-weight: 700;
          line-height: 1.2575;
          display: flex;
          color: #000000;
          flex-shrink: 0;
        }
        .navigation-FY2 {
          flex-shrink: 0;
          margin-bottom: 1.0417rem;
          font-weight: 300;
          white-space: nowrap;
          color: #000000;
          font-family: Segoe UI, 'Source Sans Pro';
          display: flex;
          font-size: 1rem;
          line-height: 1.2575;
        }
        .footer-n2A {
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .line-7-8ri {
            margin-bottom: 0.651rem;
            width: 122.3rem;
            height: 0;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .auto-group-99ae-5X4 {
            align-items: center;
            flex-shrink: 0;
            margin-right: 108.6735rem;
            width: calc(100% - 108.6735rem);
            height: 1.3407rem;
            display: flex;

            .interval-oT4 {
              align-items: center;
              flex-shrink: 0;
              margin: 0.041rem 2.3rem 0rem 0rem;
              height: calc(100% - 0.0407rem);
              display: flex;

              .logo-w3U {
                margin-right: 0.7rem;
                width: 0.7rem;
                height: 0.8167rem;
                object-fit: cover;
                vertical-align: top;
                flex-shrink: 0;
              }
              .navigation-H7L {
                display: flex;
                font-size: 1rem;
                font-weight: 300;
                line-height: 1.2575;
                color: #000000;
                font-family: Segoe UI, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .date-pNA {
              margin-bottom: 0.0407rem;
              height: calc(100% - 0.0407rem);
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .logo-mYJ {
                margin: 0.081rem 0.827rem 0rem 0rem;
                width: 0.7rem;
                height: 0.8167rem;
                object-fit: cover;
                vertical-align: top;
                flex-shrink: 0;
              }
              .navigation-6Kg {
                font-family: Segoe UI, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                display: flex;
                font-size: 1rem;
                font-weight: 300;
                line-height: 1.2575;
                color: #000000;
              }
            }
          }
        }
      }
      .object1-ojt {
        width: 100%;
        flex-direction: column;
        margin-bottom: 4.4rem;
        padding: 1.239rem 3.648rem 1.392rem 3.5rem;
        background-color: #d9d9d9;
        border-radius: 0.5rem;
        flex-shrink: 0;
        box-sizing: border-box;
        display: flex;

        .title-Xft {
          margin-bottom: 0.4356rem;
          display: flex;
          color: #000000;
          font-family: Segoe UI, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 3rem;
          font-weight: 700;
          line-height: 1.2575;
        }
        .navigation-sDx {
          display: flex;
          font-weight: 300;
          white-space: nowrap;
          margin-bottom: 1.0417rem;
          font-size: 1rem;
          line-height: 1.2575;
          color: #000000;
          font-family: Segoe UI, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .footer-oNW {
          flex-shrink: 0;
          width: 100%;
          display: flex;
          flex-direction: column;

          .line-7-Z6n {
            flex-shrink: 0;
            margin-bottom: 0.651rem;
            width: 122.3rem;
            height: 0;
            object-fit: contain;
            vertical-align: top;
          }
          .auto-group-kj8r-JKG {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-right: 108.6735rem;
            width: calc(100% - 108.6735rem);
            height: 1.3407rem;

            .interval-dcS {
              height: calc(100% - 0.0407rem);
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin: 0.041rem 2.3rem 0rem 0rem;

              .logo-9qg {
                width: 0.7rem;
                height: 0.8167rem;
                object-fit: cover;
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 0.7rem;
              }
              .navigation-JCn {
                flex-shrink: 0;
                display: flex;
                font-size: 1rem;
                font-weight: 300;
                line-height: 1.2575;
                color: #000000;
                font-family: Segoe UI, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
            .date-SJz {
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin-bottom: 0.0407rem;
              height: calc(100% - 0.0407rem);

              .logo-BnN {
                margin: 0.081rem 0.827rem 0rem 0rem;
                width: 0.7rem;
                height: 0.8167rem;
                object-fit: cover;
                vertical-align: top;
                flex-shrink: 0;
              }
              .navigation-uyG {
                line-height: 1.2575;
                color: #000000;
                font-family: Segoe UI, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                display: flex;
                font-size: 1rem;
                font-weight: 300;
              }
            }
          }
        }
      }
      .qr-button-2nz {
        box-sizing: border-box;
        padding: 1rem 58.5rem 1rem 62.3rem;
        display: flex;
        border-radius: 0.5rem;
        flex-shrink: 0;
        margin-right: 0.0477rem;
        width: calc(100% - 0.0477rem);
        align-items: center;
        border: dashed 0.1rem #626262;
        background-color: rgba(255, 255, 255, 0.1700000018);

        .navigation-kDC {
          font-family: Segoe UI, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 1.8rem 0.1rem 0rem;
          display: flex;
          font-size: 1rem;
          font-weight: 600;
          line-height: 1.2575;
          color: #000000;
        }
        .logo-fb4 {
          vertical-align: top;
          flex-shrink: 0;
          width: 2.4rem;
          height: 2.4rem;
          object-fit: cover;
        }
      }
    }
    .navigation-Yuk {
      width: 21.6rem;
      height: 4.1rem;
      position: absolute;
      left: 5.1rem;
      top: 7rem;
      display: flex;
      align-items: center;

      .rectangle-5-H6e {
        flex-shrink: 0;
        margin-right: 1.9rem;
        width: 0.4rem;
        height: 4.1rem;
        background-color: #d9d9d9;
      }
      .navigation-RCr {
        display: flex;
        font-size: 2rem;
        color: #ffffff;
        flex-shrink: 0;
        margin: 0rem 1.55rem 0.1rem 0rem;
        font-weight: 700;
        line-height: 1.2575;
        font-family: Segoe UI, 'Source Sans Pro';
        white-space: nowrap;
      }
      .item--wBC {
        color: #ffffff;
        font-family: Segoe UI, 'Source Sans Pro';
        flex-shrink: 0;
        font-weight: 400;
        line-height: 1.2575;
        font-size: 1.6rem;
        white-space: nowrap;
        margin: 0rem 0.85rem 0.2rem 0rem;
        text-align: center;
      }
      .navigation-qXU {
        white-space: nowrap;
        display: flex;
        font-weight: 700;
        line-height: 1.2575;
        color: #ffffff;
        margin-bottom: 0.1rem;
        font-size: 2rem;
        font-family: Segoe UI, 'Source Sans Pro';
        flex-shrink: 0;
      }
    }
    .class-info-keS {
      align-items: center;
      background-color: #191e2b;
      padding: 10.05rem 7.7rem 47.6rem 7.8rem;
      height: 108rem;
      left: 116.3rem;
      top: 0;
      display: flex;
      flex-direction: column;
      box-shadow: -1.1rem 0 2.3rem rgba(0, 0, 0, 0.5799999833);
      box-sizing: border-box;
      width: 46.5rem;
      position: absolute;

      .title-SnA {
        align-items: center;
        justify-content: center;
        line-height: 1.2575;
        flex-shrink: 0;
        margin: 0rem 0.1rem 5.55rem 0rem;
        display: flex;
        font-size: 3rem;
        font-weight: 700;
        color: #ffffff;
        font-family: Segoe UI, 'Source Sans Pro';
        white-space: nowrap;
      }
      .sign-form-xVc {
        display: flex;
        flex-direction: column;
        border-radius: 1.7rem;
        flex-shrink: 0;
        width: 100%;
        align-items: center;

        .name-input-ufk {
          box-sizing: border-box;
          font-weight: 300;
          color: #e4e4e4;
          white-space: nowrap;
          margin-bottom: 2.3rem;
          width: 100%;
          padding: 1.05rem 1.8rem;
          font-family: Segoe UI, 'Source Sans Pro';
          background-color: rgba(250, 250, 250, 0.4699999988);
          border-radius: 1.7rem;
          display: flex;
          font-size: 1.6rem;
          line-height: 1.2575;
          flex-shrink: 0;
        }
        .username-input-yQi {
          box-sizing: border-box;
          font-size: 1.6rem;
          font-weight: 300;
          line-height: 1.2575;
          border-radius: 1.7rem;
          margin-bottom: 2.3rem;
          width: 100%;
          color: #e4e4e4;
          font-family: Segoe UI, 'Source Sans Pro';
          background-color: rgba(250, 250, 250, 0.4699999988);
          padding: 1.05rem 1.8rem;
          display: flex;
          white-space: nowrap;
          flex-shrink: 0;
        }
        .password-input-3Qa {
          padding: 1.05rem 1.8rem;
          width: 100%;
          color: #000000;
          border-radius: 1.7rem;
          flex-shrink: 0;
          margin-bottom: 2.3rem;
          display: flex;
          font-size: 1.6rem;
          font-weight: 300;
          font-family: Segoe UI, 'Source Sans Pro';
          box-sizing: border-box;
          line-height: 1.2575;
          white-space: nowrap;
          background-color: rgba(255, 255, 255, 0.4699999988);
        }
        .password-again-hk2 {
          font-size: 1.6rem;
          line-height: 1.2575;
          padding: 0.9rem 1.8rem;
          width: 100%;
          color: #000000;
          border-radius: 1.7rem;
          box-sizing: border-box;
          font-weight: 300;
          background-color: rgba(255, 255, 255, 0.4699999988);
          margin-bottom: 1.6rem;
          white-space: nowrap;
          font-family: Segoe UI, 'Source Sans Pro';
          flex-shrink: 0;
          height: 14.8rem;
          display: flex;
        }
        .submit-button-kyC {
          display: flex;
          align-items: center;
          white-space: nowrap;
          flex-shrink: 0;
          height: 5.1rem;
          font-weight: 600;
          background-color: #0c48bf;
          color: #ffffff;
          border-radius: 1.7rem;
          width: 100%;
          justify-content: center;
          font-size: 2rem;
          line-height: 1.2575;
          font-family: Segoe UI, 'Source Sans Pro';
        }
      }
    }
  }
}
