
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.management-quizzes-quizz-1-full-size-RGi {
  width: 100%;
  overflow: hidden;
  row-gap: 6.1rem;
  box-sizing: border-box;
  padding: 12.4rem 72rem 22.8rem 72rem;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #191e2b;

  .title-Tz6 {
    font-weight: 700;
    margin-left: 0.0323rem;
    display: flex;
    align-items: center;
    font-size: 5rem;
    white-space: nowrap;
    flex-shrink: 0;
    justify-content: center;
    line-height: 1.2575;
    color: #ffffff;
    font-family: Segoe UI, 'Source Sans Pro';
  }
  .logo-ZXL {
    vertical-align: top;
    flex-shrink: 0;
    width: 48rem;
    height: 48rem;
    object-fit: cover;
  }
  .title-uLJ {
    white-space: nowrap;
    align-items: center;
    font-weight: 700;
    line-height: 1.2575;
    color: #ffffff;
    font-family: Segoe UI, 'Source Sans Pro';
    flex-shrink: 0;
    margin-left: 0.0323rem;
    display: flex;
    justify-content: center;
    font-size: 5rem;
  }
}
