
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 20.8rem;
}.nav-bar-minimum-g54 {
  width: 100%;
  height: 104.4rem;
  position: relative;

  .background-R2e {
    width: 10.5rem;
    height: 104.4rem;
    position: absolute;
    left: 0;
    top: 0;
    backdrop-filter: blur(0.6rem);
    background-color: rgba(255, 255, 255, 0.0599999987);
    border-radius: 1.9rem;
  }
  .logo-wFt {
    width: 3.2rem;
    height: 3.2rem;
    position: absolute;
    left: 3.7rem;
    top: 96.6rem;
    object-fit: cover;
    vertical-align: top;
  }
  .logo-Tzv {
    width: 3.2rem;
    height: 3.2rem;
    position: absolute;
    left: 3.7rem;
    top: 56.2rem;
    object-fit: cover;
    vertical-align: top;
  }
  .logo-zzr {
    left: 3.7rem;
    top: 49.7rem;
    object-fit: cover;
    vertical-align: top;
    width: 3.2rem;
    height: 3.2rem;
    position: absolute;
  }
  .logo-YWa {
    position: absolute;
    left: 3.7rem;
    top: 43.2rem;
    object-fit: cover;
    vertical-align: top;
    width: 3.2rem;
    height: 3.2rem;
  }
  .management-Uf8 {
    width: 17.1rem;
    height: 16rem;
    position: absolute;
    left: 3.7rem;
    top: 23.6rem;

    .logo-1QA {
      margin-bottom: 0.9rem;
      width: 3.2rem;
      height: 3.2rem;
      object-fit: cover;
      vertical-align: top;
    }
    .auto-group-6fjn-LxE {
      width: calc(100% - 1.5rem);
      display: flex;
      align-items: flex-start;
      margin-left: 1.5rem;

      .line-h26 {
        flex-shrink: 0;
        margin-right: 1.2rem;
        width: 1.7rem;
        height: 9.75rem;
        object-fit: contain;
        vertical-align: top;
      }
      .group-1-Rin {
        margin-top: 0.3rem;
        width: 12.7rem;
        box-shadow: -0.4rem 0.4rem 1.3rem rgba(0, 0, 0, 0.25);
        border-radius: 1rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2.3rem 1.4rem 0.85rem 1.4rem;
        backdrop-filter: blur(0.6rem);
        background-color: rgba(255, 255, 255, 0.0599999987);

        .title-kFG {
          line-height: 1.2575;
          color: #ffffff;
          font-family: Segoe UI, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 0rem 3.25rem 0.1rem;
          display: flex;
          font-size: 2rem;
          font-weight: 600;
        }
        .title-rp6 {
          white-space: nowrap;
          display: flex;
          font-size: 2rem;
          font-weight: 600;
          line-height: 1.2575;
          color: #ffffff;
          font-family: Segoe UI, 'Source Sans Pro';
        }
      }
    }
  }
  .new-quiz-i5c {
    width: 7rem;
    height: 7rem;
    left: 1.8rem;
    background-color: rgba(0, 48, 218, 0.4699999988);
    border-radius: 1rem;
    box-sizing: border-box;
    padding: 1.3rem;
    position: absolute;
    top: 13.3rem;

    .logo-qR8 {
      width: 4.4rem;
      height: 4.4rem;
      object-fit: cover;
      vertical-align: top;
    }
  }
  .logo-9wc {
    width: 4.7rem;
    height: 4.7rem;
    position: absolute;
    left: 2.9rem;
    top: 2.5rem;
    object-fit: cover;
    vertical-align: top;
  }
  .expand-button-gge {
    width: 2.1rem;
    height: 2.3rem;
    position: absolute;
    left: 9.5rem;
    top: 4rem;

    .ellipse-1-DRg {
      height: 2.1rem;
      position: absolute;
      left: 0;
      top: 0.2rem;
      background-color: rgba(255, 255, 255, 0.0599999987);
      border-radius: 1.05rem;
      width: 2.1rem;
    }
    .item--wca {
      font-family: Segoe UI, 'Source Sans Pro';
      white-space: nowrap;
      width: 0.8rem;
      height: 2.1rem;
      left: 0.75rem;
      text-align: center;
      font-size: 1.6rem;
      position: absolute;
      top: 0;
      font-weight: 400;
      line-height: 1.2575;
      color: #ffffff;
    }
  }
}
