<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>create quiz - choose class</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Segoe+UI%3A400%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C600%2C700"/>
  <link rel="stylesheet" href="./styles/create-quiz-choose-class.css"/>
</head>
<body>
<div class="create-quiz-choose-class-auU">
  <div class="nav-bar-hjC">
    <div class="background-pYv">
    </div>
    <div class="account-8Ji">
      <img class="logo-TLz" src="./assets/logo-Udt.png"/>
      <div class="title-y4S">User name</div>
    </div>
    <div class="preferences-thC">
      <img class="logo-cdC" src="./assets/logo-i94.png"/>
      <div class="title-9NE">Preferences</div>
    </div>
    <div class="notification-sZ8">
      <img class="logo-bzv" src="./assets/logo-MrE.png"/>
      <div class="title-YQN">Notification</div>
    </div>
    <div class="export-Hcr">
      <img class="logo-134" src="./assets/logo-4c6.png"/>
      <div class="title-jjk">Export</div>
    </div>
    <div class="management-USS">
      <div class="auto-group-cvej-zva">
        <img class="logo-81C" src="./assets/logo-QiJ.png"/>
        <div class="title-rC6">Dashboard</div>
      </div>
      <div class="auto-group-trb4-z3Q">
        <img class="line-vSr" src="./assets/line.png"/>
        <div class="auto-group-h9mx-qJv">
          <div class="auto-group-ghua-P5Y">Quizzes</div>
          <div class="title-FQa">Classes</div>
        </div>
      </div>
    </div>
    <div class="new-quiz-AGe">
      <img class="logo-cuL" src="./assets/logo-Bjc.png"/>
      <div class="title-vv2">New Quiz</div>
    </div>
    <div class="logo-SdU">
      <img class="logo-yNW" src="./assets/logo-Vbt.png"/>
      <div class="logo-i5C">CNWeb-30</div>
    </div>
    <div class="expand-button-DXk">
      <div class="ellipse-1-L6a">
      </div>
      <p class="item--FUS">&lt;</p>
    </div>
  </div>
  <div class="right-bar-9Jv">
    <div class="text-SYv">Let’s make a quiz!</div>
    <img class="logo-kpW" src="./assets/logo-UYE.png"/>
    <div class="title-UkW">Firstly, choose a class to start</div>
    <div class="class-input-CgW">
      <p class="item--YVU">&lt;</p>
      <div class="title-qjU">Class #1</div>
      <div class="input-w1p">
      </div>
    </div>
    <div class="continue-button-eS2">Continue</div>
  </div>
</div>
</body>