<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>create quiz - success</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Segoe+UI%3A400%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C600%2C700"/>
  <link rel="stylesheet" href="./styles/create-quiz-success.css"/>
</head>
<body>
<div class="create-quiz-success-N22">
  <div class="nav-bar-6ii">
    <div class="background-2MU">
    </div>
    <div class="account-YKp">
      <img class="logo-gB8" src="./assets/logo-Tug.png"/>
      <div class="title-zxW">User name</div>
    </div>
    <div class="preferences-8Yv">
      <img class="logo-4xN" src="./assets/logo-fVp.png"/>
      <div class="title-CYn">Preferences</div>
    </div>
    <div class="notification-YMk">
      <img class="logo-sev" src="./assets/logo-Jea.png"/>
      <div class="title-854">Notification</div>
    </div>
    <div class="export-4zJ">
      <img class="logo-C4v" src="./assets/logo-MXk.png"/>
      <div class="title-8jG">Export</div>
    </div>
    <div class="management-Uo8">
      <div class="auto-group-up8a-DEv">
        <img class="logo-wAv" src="./assets/logo-EPx.png"/>
        <div class="title-Gyt">Dashboard</div>
      </div>
      <div class="auto-group-k8bx-cnr">
        <img class="line-Zi6" src="./assets/line-Gxe.png"/>
        <div class="auto-group-g5xc-Vbk">
          <div class="auto-group-qe4w-rBQ">Quizzes</div>
          <div class="title-88v">Classes</div>
        </div>
      </div>
    </div>
    <div class="new-quiz-42a">
      <img class="logo-ws4" src="./assets/logo-Q6A.png"/>
      <div class="title-5Ca">New Quiz</div>
    </div>
    <div class="logo-CHC">
      <img class="logo-L8W" src="./assets/logo-7QA.png"/>
      <div class="logo-fwU">CNWeb-30</div>
    </div>
    <div class="expand-button-bKL">
      <div class="ellipse-1-ier">
      </div>
      <p class="item--3BL">&lt;</p>
    </div>
  </div>
  <div class="right-bar-8ia">
    <div class="text-FHQ">The quiz for class Class #1 is created!</div>
    <div class="title-kjx">You can get the QR code by go to Management &gt; Quiz &gt; Quiz #1</div>
    <div class="continue-button-s3t">Let’s go!</div>
  </div>
</div>
</body>