<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>create quiz - quiz form</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Segoe+UI%3A300%2C400%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A300%2C400%2C600%2C700"/>
  <link rel="stylesheet" href="./styles/create-quiz-quiz-form.css"/>
</head>
<body>
<div class="create-quiz-quiz-form-51p">
  <div class="nav-bar-oiW">
    <div class="background-XuQ">
    </div>
    <div class="account-3cr">
      <img class="logo-yFc" src="./assets/logo-84E.png"/>
      <div class="title-76v">User name</div>
    </div>
    <div class="preferences-RtJ">
      <img class="logo-xdL" src="./assets/logo-9gS.png"/>
      <div class="title-gZL">Preferences</div>
    </div>
    <div class="notification-Rmp">
      <img class="logo-MfU" src="./assets/logo-AQE.png"/>
      <div class="title-Hp2">Notification</div>
    </div>
    <div class="export-2Fp">
      <img class="logo-x9U" src="./assets/logo-QH4.png"/>
      <div class="title-HSe">Export</div>
    </div>
    <div class="management-phU">
      <div class="auto-group-cw9l-kb8">
        <img class="logo-sQr" src="./assets/logo-XQS.png"/>
        <div class="title-DDp">Dashboard</div>
      </div>
      <div class="auto-group-befy-Ymt">
        <img class="line-HjU" src="./assets/line-wA6.png"/>
        <div class="auto-group-3z4w-1fU">
          <div class="auto-group-ylea-ksx">Quizzes</div>
          <div class="title-EYE">Classes</div>
        </div>
      </div>
    </div>
    <div class="new-quiz-ARt">
      <img class="logo-fNe" src="./assets/logo-5mQ.png"/>
      <div class="title-ny4">New Quiz</div>
    </div>
    <div class="logo-KCJ">
      <img class="logo-3tz" src="./assets/logo-Tkz.png"/>
      <div class="logo-5qg">CNWeb-30</div>
    </div>
    <div class="expand-button-cKp">
      <div class="ellipse-1-kB8">
      </div>
      <p class="item--5DQ">&lt;</p>
    </div>
  </div>
  <div class="right-bar-Mgi">
    <div class="text-gDC">Let’s make a quiz!</div>
    <div class="title-P7c">Create a quiz in Class #1</div>
    <div class="sign-form-jKt">
      <div class="date-input-GKp">
        <div class="placeholder-P9Y">Time</div>
        <div class="background-6Zk">
        </div>
        <div class="placeholder-pVk">Interval</div>
        <div class="background-wqG">
        </div>
      </div>
      <div class="date-input-UaJ">
        <div class="placeholder-2Lv">Quiz Included?</div>
        <div class="group-2-LsQ">
          <div class="background-Th8">
          </div>
        </div>
      </div>
      <div class="date-input-ALe">
        <div class="placeholder-uZ8">Link to form</div>
        <div class="background-39Y">
        </div>
      </div>
      <div class="submit-button-NSi">Create Quiz!</div>
    </div>
  </div>
</div>
</body>