<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Homepage</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Segoe+UI%3A300%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A300%2C600%2C700"/>
  <link rel="stylesheet" href="./styles/homepage.css"/>
</head>
<body>
<div class="homepage-ESa">
  <div class="section-1-BMp">
    <img class="sad2-1-v4W" src="./assets/sad2-1.png"/>
    <img class="sad-3-3ev" src="./assets/sad-3.png"/>
    <div class="rectangle-16-ncW">
    </div>
    <div class="logo-8RU">
    Manage your classroom
    <br/>
    in the easiest way ever
    </div>
    <div class="logo-qan">How It works</div>
    <div class="header-LXY">
      <div class="logo-pxW">
        <img class="logo-yqQ" src="./assets/logo-PAv.png"/>
        <div class="logo-7gi">CNWeb-30</div>
      </div>
      <div class="nav-bar-r8W">
        <div class="how-it-works-n2A">How It Works</div>
        <div class="project-UQn">Project</div>
        <div class="about-us-Cbg">About Us</div>
      </div>
      <div class="get-started-WsG">Get Started</div>
      <img class="moon-line-2-xUN" src="./assets/moon-line-2.png"/>
    </div>
  </div>
</div>
</body>