<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Login</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Segoe+UI%3A300%2C400%2C600"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A300%2C400%2C600"/>
  <link rel="stylesheet" href="./styles/login.css"/>
</head>
<body>
<div class="login-APQ">
  <img class="logo-Y94" src="./assets/logo-cEJ.png"/>
  <div class="login-card-pMU">
    <p class="label-FbC">Welcome back!</p>
    <div class="sign-form-8Q6">
      <div class="username-input-4Hk">Email</div>
      <div class="password-input-4wx">Password</div>
      <div class="remember-me-Kcz">
        <div class="background-qLS">
        </div>
        <p class="placeholder-M3t">Remember me</p>
      </div>
      <div class="submit-button-4U6">Sign In</div>
    </div>
    <div class="divider-V3c">
      <div class="line-3-bcS">
      </div>
      <div class="placeholder-FBC">Or</div>
      <div class="line-2-NFp">
      </div>
    </div>
    <div class="microsoft-button-Grz">Continue with Microsoft</div>
    <div class="signup-button-WFY">Don’t have an account? Sign Up</div>
  </div>
</div>
</body>