<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Management - Quizzes - Quizz #1 - Full size</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Segoe+UI%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A700"/>
  <link rel="stylesheet" href="./styles/management-quizzes-quizz-1-full-size.css"/>
</head>
<body>
<div class="management-quizzes-quizz-1-full-size-RGi">
  <div class="title-Tz6">Quizz #4</div>
  <img class="logo-ZXL" src="./assets/logo-QLn.png"/>
  <div class="title-uLJ">01:23</div>
</div>
</body>