<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Management - Classes</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Segoe+UI%3A300%2C400%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A300%2C400%2C600%2C700"/>
  <link rel="stylesheet" href="./styles/management-classes.css"/>
</head>
<body>
<div class="management-classes-DAW">
  <div class="nav-bar-iNA">
    <div class="background-cyL">
    </div>
    <div class="account-vz2">
      <img class="logo-GHC" src="./assets/logo-mM8.png"/>
      <div class="title-oH8">User name</div>
    </div>
    <div class="preferences-XD8">
      <img class="logo-Fev" src="./assets/logo-Rup.png"/>
      <div class="title-ax6">Preferences</div>
    </div>
    <div class="notification-jKC">
      <img class="logo-TFC" src="./assets/logo-Vwk.png"/>
      <div class="title-bMQ">Notification</div>
    </div>
    <div class="export-LJz">
      <img class="logo-4kn" src="./assets/logo-zoG.png"/>
      <div class="title-c1c">Export</div>
    </div>
    <div class="management-kNi">
      <div class="auto-group-j8ja-4uC">
        <img class="logo-Pga" src="./assets/logo-HeE.png"/>
        <div class="title-jVY">Dashboard</div>
      </div>
      <div class="auto-group-plqe-gQn">
        <img class="line-EBQ" src="./assets/line-nQv.png"/>
        <div class="auto-group-25ci-Yht">
          <div class="title-7FC">Quizzes</div>
          <div class="auto-group-x33k-E4v">Classes</div>
        </div>
      </div>
    </div>
    <div class="new-quiz-hz6">
      <img class="logo-Cvr" src="./assets/logo-X3C.png"/>
      <div class="title-vrr">New Quiz</div>
    </div>
    <div class="logo-F8S">
      <img class="logo-BGz" src="./assets/logo-N7x.png"/>
      <div class="logo-X5x">CNWeb-30</div>
    </div>
    <div class="expand-button-3KC">
      <div class="ellipse-1-mkz">
      </div>
      <p class="item--6YN">&lt;</p>
    </div>
  </div>
  <div class="right-bar-BJv">
    <div class="navigation-hYA">
      <div class="rectangle-5-3rv">
      </div>
      <div class="navigation-BiE">Dashboard</div>
      <p class="item--Vyp">&gt;</p>
      <div class="navigation-coY">Classes</div>
    </div>
    <div class="upcoming-8G6">
      <div class="auto-group-zsqr-EK8">
        <div class="title-9wt">Your Classes</div>
        <div class="count-scz">3</div>
        <div class="qr-button-94i">
          <div class="navigation-GQE">New Class</div>
          <img class="logo-n7g" src="./assets/logo-XU2.png"/>
        </div>
      </div>
      <div class="object1-uCJ">
        <div class="title-pKG">Class #1</div>
        <div class="navigation-kCv">Subject #1</div>
        <div class="footer-f4z">
          <img class="line-7-1uY" src="REPLACE_IMAGE:15:2218"/>
          <div class="auto-group-sz86-9kr">
            <div class="interval-eSi">
              <img class="logo-Avr" src="./assets/logo-wQ2.png"/>
              <div class="navigation-WE2">50 students</div>
            </div>
            <div class="date-3Ur">
              <img class="logo-P2v" src="./assets/logo-fug.png"/>
              <div class="navigation-V5x">4 quizzes</div>
            </div>
          </div>
        </div>
      </div>
      <div class="object1-BzN">
        <div class="title-Jp6">Class #1</div>
        <div class="navigation-3Wn">Subject #1</div>
        <div class="footer-mxa">
          <img class="line-7-Xgr" src="REPLACE_IMAGE:15:2230"/>
          <div class="auto-group-rzqq-sVp">
            <div class="interval-nsg">
              <img class="logo-Ksc" src="./assets/logo-2wG.png"/>
              <div class="navigation-s8S">50 students</div>
            </div>
            <div class="date-1VY">
              <img class="logo-9re" src="./assets/logo-GGE.png"/>
              <div class="navigation-t3Y">4 quizzes</div>
            </div>
          </div>
        </div>
      </div>
      <div class="object1-18A">
        <div class="title-j4A">Class #1</div>
        <div class="navigation-SzA">Subject #1</div>
        <div class="footer-Ncv">
          <img class="line-7-vuL" src="REPLACE_IMAGE:15:2242"/>
          <div class="auto-group-18x8-GiJ">
            <div class="interval-CM4">
              <img class="logo-7iv" src="./assets/logo-97U.png"/>
              <div class="navigation-TXt">50 students</div>
            </div>
            <div class="date-obk">
              <img class="logo-xjY" src="./assets/logo-Qez.png"/>
              <div class="navigation-tt6">4 quizzes</div>
            </div>
          </div>
        </div>
      </div>
      <div class="qr-button-QbY">
        <div class="navigation-8Ge">New Class</div>
        <img class="logo-qwk" src="./assets/logo-eeJ.png"/>
      </div>
    </div>
  </div>
</div>
</body>