<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Management - Classes - New Class</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Segoe+UI%3A300%2C400%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A300%2C400%2C600%2C700"/>
  <link rel="stylesheet" href="./styles/management-classes-new-class.css"/>
</head>
<body>
<div class="management-classes-new-class-CVL">
  <div class="nav-bar-VjL">
    <div class="background-DvE">
    </div>
    <div class="account-8nJ">
      <img class="logo-U5U" src="./assets/logo-4q4.png"/>
      <div class="title-odY">User name</div>
    </div>
    <div class="preferences-jXC">
      <img class="logo-Ti6" src="./assets/logo-Fb4.png"/>
      <div class="title-o1G">Preferences</div>
    </div>
    <div class="notification-8ZL">
      <img class="logo-sG2" src="./assets/logo-ePx.png"/>
      <div class="title-17L">Notification</div>
    </div>
    <div class="export-kKp">
      <img class="logo-Tzv" src="./assets/logo-Abx.png"/>
      <div class="title-oot">Export</div>
    </div>
    <div class="management-9sk">
      <div class="auto-group-m7bl-gcn">
        <img class="logo-cWS" src="./assets/logo-XSW.png"/>
        <div class="title-MU2">Dashboard</div>
      </div>
      <div class="auto-group-11nw-tyk">
        <img class="line-r9t" src="./assets/line-t8e.png"/>
        <div class="auto-group-yz3l-AwG">
          <div class="title-iht">Quizzes</div>
          <div class="auto-group-uwun-dpr">Classes</div>
        </div>
      </div>
    </div>
    <div class="new-quiz-KSn">
      <img class="logo-DYA" src="./assets/logo-u3k.png"/>
      <div class="title-8QE">New Quiz</div>
    </div>
    <div class="logo-e7g">
      <img class="logo-Ari" src="./assets/logo-CAr.png"/>
      <div class="logo-hbk">CNWeb-30</div>
    </div>
    <div class="expand-button-dEW">
      <div class="ellipse-1-xna">
      </div>
      <p class="item--5sC">&lt;</p>
    </div>
  </div>
  <div class="right-bar-b4r">
    <div class="upcoming-Xz6">
      <div class="auto-group-9exe-QHC">
        <div class="title-vFY">Your Classes</div>
        <div class="count-q7c">3</div>
        <div class="qr-button-utA">
          <div class="navigation-EvS">New Class</div>
          <img class="logo-LyU" src="./assets/logo-4zr.png"/>
        </div>
      </div>
      <div class="object1-GML">
        <div class="title-aN2">Class #1</div>
        <div class="navigation-Vjt">Subject #1</div>
        <div class="footer-q34">
          <img class="line-7-bH8" src="REPLACE_IMAGE:15:2316"/>
          <div class="auto-group-8y7k-8Xx">
            <div class="interval-ryk">
              <img class="logo-C22" src="./assets/logo-bQS.png"/>
              <div class="navigation-vyc">50 students</div>
            </div>
            <div class="date-fgJ">
              <img class="logo-pJJ" src="./assets/logo-bDQ.png"/>
              <div class="navigation-v6S">4 quizzes</div>
            </div>
          </div>
        </div>
      </div>
      <div class="object1-Rot">
        <div class="title-w1Y">Class #1</div>
        <div class="navigation-FY2">Subject #1</div>
        <div class="footer-n2A">
          <img class="line-7-8ri" src="REPLACE_IMAGE:15:2328"/>
          <div class="auto-group-99ae-5X4">
            <div class="interval-oT4">
              <img class="logo-w3U" src="./assets/logo-C3x.png"/>
              <div class="navigation-H7L">50 students</div>
            </div>
            <div class="date-pNA">
              <img class="logo-mYJ" src="./assets/logo-Xsk.png"/>
              <div class="navigation-6Kg">4 quizzes</div>
            </div>
          </div>
        </div>
      </div>
      <div class="object1-ojt">
        <div class="title-Xft">Class #1</div>
        <div class="navigation-sDx">Subject #1</div>
        <div class="footer-oNW">
          <img class="line-7-Z6n" src="REPLACE_IMAGE:15:2340"/>
          <div class="auto-group-kj8r-JKG">
            <div class="interval-dcS">
              <img class="logo-9qg" src="./assets/logo-Vvv.png"/>
              <div class="navigation-JCn">50 students</div>
            </div>
            <div class="date-SJz">
              <img class="logo-BnN" src="./assets/logo-Q94.png"/>
              <div class="navigation-uyG">4 quizzes</div>
            </div>
          </div>
        </div>
      </div>
      <div class="qr-button-2nz">
        <div class="navigation-kDC">New Class</div>
        <img class="logo-fb4" src="./assets/logo-HGa.png"/>
      </div>
    </div>
    <div class="navigation-Yuk">
      <div class="rectangle-5-H6e">
      </div>
      <div class="navigation-RCr">Dashboard</div>
      <p class="item--wBC">&gt;</p>
      <div class="navigation-qXU">Classes</div>
    </div>
    <div class="class-info-keS">
      <div class="title-SnA">Create a new Class</div>
      <div class="sign-form-xVc">
        <div class="name-input-ufk">Class Name</div>
        <div class="username-input-yQi">Subject</div>
        <div class="password-input-3Qa">Total Students</div>
        <div class="password-again-hk2">Description</div>
        <div class="submit-button-kyC">Create Class</div>
      </div>
    </div>
  </div>
</div>
</body>