<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Management - Quizzes</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A300%2C400%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Segoe+UI%3A300%2C400%2C600%2C700"/>
  <link rel="stylesheet" href="./styles/management-quizzes.css"/>
</head>
<body>
<div class="management-quizzes-rFp">
  <div class="nav-bar-B3C">
    <div class="background-6R4">
    </div>
    <div class="account-oqG">
      <img class="logo-jU2" src="./assets/logo-BFt.png"/>
      <div class="title-GD4">User name</div>
    </div>
    <div class="preferences-nSJ">
      <img class="logo-uWv" src="./assets/logo-gAi.png"/>
      <div class="title-37L">Preferences</div>
    </div>
    <div class="notification-mp2">
      <img class="logo-6rJ" src="./assets/logo-jUA.png"/>
      <div class="title-qYz">Notification</div>
    </div>
    <div class="export-amU">
      <img class="logo-v4e" src="./assets/logo-B5Q.png"/>
      <div class="title-Fsc">Export</div>
    </div>
    <div class="management-QEi">
      <div class="auto-group-j2t6-LPG">
        <img class="logo-4KG" src="./assets/logo-fC2.png"/>
        <div class="title-zii">Dashboard</div>
      </div>
      <div class="auto-group-sauw-Lna">
        <img class="line-gLe" src="./assets/line-KP4.png"/>
        <div class="auto-group-b78r-oRG">
          <div class="auto-group-74zt-9V8">Quizzes</div>
          <div class="title-d9Q">Classes</div>
        </div>
      </div>
    </div>
    <div class="new-quiz-YnA">
      <img class="logo-r2A" src="./assets/logo-MFc.png"/>
      <div class="title-air">New Quiz</div>
    </div>
    <div class="logo-hoU">
      <img class="logo-cfY" src="./assets/logo-NFp.png"/>
      <div class="logo-9vN">CNWeb-30</div>
    </div>
    <div class="expand-button-sbU">
      <div class="ellipse-1-cJA">
      </div>
      <p class="item--jNn">&lt;</p>
    </div>
  </div>
  <div class="right-bar-dyx">
    <div class="navigation-Mux">
      <div class="rectangle-5-uRg">
      </div>
      <div class="navigation-SAi">Dashboard</div>
      <p class="item--wdG">&gt;</p>
      <div class="navigation-4C6">Quizzes</div>
    </div>
    <div class="view-aw8">
      <div class="auto-group-b87q-uiW">
        <div class="upcoming-qs4">
          <div class="auto-group-znt6-974">
            <div class="title-4zi">Upcoming</div>
            <div class="count-yrn">
              <div class="rectangle-6-8Un">
              </div>
              <div class="navigation-exv">3</div>
            </div>
          </div>
          <div class="object1-YYW">
            <div class="auto-group-aeqw-rZC">
              <div class="title-mgA">Quizz #1</div>
              <div class="qr-button-VMG">
                <div class="group-3-peS">
                  <div class="navigation-MuG">Get QR</div>
                  <img class="logo-fux" src="./assets/logo-BFt.png"/>
                </div>
              </div>
            </div>
            <div class="footer-b2v">
              <img class="line-7-wca" src="REPLACE_IMAGE:15:770"/>
              <div class="auto-group-crfg-gKG">
                <div class="class-bBL">
                  <img class="logo-9Cr" src="./assets/logo-kYE.png"/>
                  <div class="navigation-fgz">Class #1</div>
                </div>
                <div class="interval-BQS">
                  <img class="logo-urE" src="./assets/logo-2M4.png"/>
                  <div class="navigation-nf8">5 mins</div>
                </div>
                <div class="date-VZY">
                  <img class="logo-EX8" src="./assets/logo-6Jr.png"/>
                  <div class="navigation-L4N">23/4/1234</div>
                </div>
                <div class="date-EfY">
                  <img class="logo-BKt" src="./assets/logo-1w4.png"/>
                  <div class="navigation-4ea">0</div>
                </div>
              </div>
            </div>
          </div>
          <div class="object1-k1c">
            <div class="auto-group-hfsl-Fj4">
              <div class="title-Ar2">Quizz #2</div>
              <div class="qr-button-ULv">
                <div class="group-3-Pin">
                  <div class="navigation-kJS">Get QR</div>
                  <img class="logo-r6a" src="./assets/logo-nzi.png"/>
                </div>
              </div>
            </div>
            <div class="footer-Zmg">
              <img class="line-7-KVx" src="REPLACE_IMAGE:15:827"/>
              <div class="auto-group-nknz-GRC">
                <div class="class-msk">
                  <img class="logo-vVk" src="./assets/logo-dZg.png"/>
                  <div class="navigation-3aN">Class #1</div>
                </div>
                <div class="interval-nH4">
                  <img class="logo-8ri" src="./assets/logo-yHG.png"/>
                  <div class="navigation-TPC">5 mins</div>
                </div>
                <div class="date-C5t">
                  <img class="logo-YQe" src="./assets/logo-u8z.png"/>
                  <div class="navigation-UZC">23/4/1234</div>
                </div>
                <div class="date-pNA">
                  <img class="logo-BCi" src="./assets/logo-tq4.png"/>
                  <div class="navigation-uPc">0</div>
                </div>
              </div>
            </div>
          </div>
          <div class="object1-cYv">
            <div class="auto-group-2pan-LUv">
              <div class="title-rCN">Quizz #3</div>
              <div class="qr-button-y26">
                <div class="group-3-uAe">
                  <div class="navigation-4JS">Get QR</div>
                  <img class="logo-kBG" src="./assets/logo-imc.png"/>
                </div>
              </div>
            </div>
            <div class="footer-3gA">
              <img class="line-7-zrJ" src="REPLACE_IMAGE:15:850"/>
              <div class="auto-group-nf26-Ycv">
                <div class="class-fBk">
                  <img class="logo-DDG" src="./assets/logo-3qx.png"/>
                  <div class="navigation-LYn">Class #1</div>
                </div>
                <div class="interval-rGE">
                  <img class="logo-oBU" src="./assets/logo-Nvr.png"/>
                  <div class="navigation-KvW">5 mins</div>
                </div>
                <div class="date-G54">
                  <img class="logo-1YS" src="./assets/logo-iEi.png"/>
                  <div class="navigation-ixe">23/4/1234</div>
                </div>
                <div class="date-TvE">
                  <img class="logo-dJv" src="./assets/logo-Vi6.png"/>
                  <div class="navigation-xMC">0</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="happening-cRk">
          <div class="auto-group-dsnz-77c">
            <div class="title-Q6i">Happening</div>
            <div class="count-WQe">
              <div class="rectangle-6-3fU">
              </div>
              <div class="navigation-NSr">1</div>
            </div>
          </div>
          <div class="object1-TUJ">
            <div class="auto-group-z9hq-NrA">
              <div class="title-Jjp">Quizz #4</div>
              <div class="title-dXC">4 minutes left</div>
            </div>
            <div class="footer-ZQr">
              <img class="line-7-7BU" src="REPLACE_IMAGE:15:872"/>
              <div class="auto-group-8qr8-358">
                <div class="class-Nt6">
                  <img class="logo-L4E" src="./assets/logo-eQv.png"/>
                  <div class="navigation-4F8">Class #1</div>
                </div>
                <div class="interval-QJz">
                  <img class="logo-kte" src="./assets/logo-PiW.png"/>
                  <div class="navigation-5g2">5 mins</div>
                </div>
                <div class="date-25U">
                  <img class="logo-AxN" src="./assets/logo-DRx.png"/>
                  <div class="navigation-HGJ">23/4/1234</div>
                </div>
                <div class="date-pX8">
                  <img class="logo-P4S" src="./assets/logo-oie.png"/>
                  <div class="navigation-uHg">15</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="past-auc">
        <div class="auto-group-gehl-VFt">
          <div class="title-Qdk">Past</div>
          <div class="count-Wwg">
            <div class="rectangle-6-rVk">
            </div>
            <div class="navigation-yaN">6</div>
          </div>
        </div>
        <div class="object1-reA">
          <div class="auto-group-x8ij-N6i">
            <div class="title-5mp">Quizz #5</div>
            <div class="qr-button-nRL">
              <div class="group-3-uVx">
                <div class="navigation-TXU">See Result</div>
                <img class="logo-MMx" src="./assets/logo-mXL.png"/>
              </div>
            </div>
          </div>
          <div class="footer-USa">
            <img class="line-7-S8W" src="REPLACE_IMAGE:15:899"/>
            <div class="auto-group-gple-xMk">
              <div class="class-H98">
                <img class="logo-dCz" src="./assets/logo-rLN.png"/>
                <div class="navigation-Yqk">Class #1</div>
              </div>
              <div class="interval-hCr">
                <img class="logo-r5k" src="./assets/logo-TtA.png"/>
                <div class="navigation-xea">5 mins</div>
              </div>
              <div class="date-6kn">
                <img class="logo-TLS" src="./assets/logo-nVt.png"/>
                <div class="navigation-NTQ">23/4/1234</div>
              </div>
              <div class="date-iXG">
                <img class="logo-H4a" src="./assets/logo-R26.png"/>
                <div class="navigation-Q9C">15</div>
              </div>
            </div>
          </div>
        </div>
        <div class="object1-ure">
          <div class="auto-group-fgby-dGr">
            <div class="title-w2e">Quizz #6</div>
            <div class="qr-button-EnS">
              <div class="group-3-Zpi">
                <div class="navigation-iBp">See Result</div>
                <img class="logo-ER4" src="./assets/logo-mdQ.png"/>
              </div>
            </div>
          </div>
          <div class="footer-wqG">
            <img class="line-7-W7g" src="REPLACE_IMAGE:15:926"/>
            <div class="auto-group-s9qs-q9x">
              <div class="class-mJW">
                <img class="logo-hxr" src="./assets/logo-6rJ.png"/>
                <div class="navigation-Rdx">Class #1</div>
              </div>
              <div class="interval-ZkA">
                <img class="logo-id4" src="./assets/logo-8Qv.png"/>
                <div class="navigation-F7C">5 mins</div>
              </div>
              <div class="date-zKg">
                <img class="logo-jo4" src="./assets/logo-V3t.png"/>
                <div class="navigation-s8a">23/4/1234</div>
              </div>
              <div class="date-oH8">
                <img class="logo-N5L" src="./assets/logo-ciS.png"/>
                <div class="navigation-gbp">15</div>
              </div>
            </div>
          </div>
        </div>
        <div class="object1-nuk">
          <div class="auto-group-6nbp-ujU">
            <div class="title-ctn">Quizz #7</div>
            <div class="qr-button-L46">
              <div class="group-3-ro8">
                <div class="navigation-Ddg">See Result</div>
                <img class="logo-8Vk" src="./assets/logo-3jk.png"/>
              </div>
            </div>
          </div>
          <div class="footer-SWS">
            <img class="line-7-oLz" src="REPLACE_IMAGE:15:948"/>
            <div class="auto-group-fujy-5pJ">
              <div class="class-BsL">
                <img class="logo-8Gn" src="./assets/logo-7NW.png"/>
                <div class="navigation-2d4">Class #1</div>
              </div>
              <div class="interval-xFp">
                <img class="logo-JKg" src="./assets/logo-Qyk.png"/>
                <div class="navigation-d74">5 mins</div>
              </div>
              <div class="date-xQE">
                <img class="logo-7H8" src="./assets/logo-mkr.png"/>
                <div class="navigation-EMk">23/4/1234</div>
              </div>
              <div class="date-kaz">
                <img class="logo-fhx" src="./assets/logo.png"/>
                <div class="navigation-b5p">15</div>
              </div>
            </div>
          </div>
        </div>
        <div class="object1-6YN">
          <div class="auto-group-j9uj-QZ4">
            <div class="title-Kg2">Quizz #8</div>
            <div class="qr-button-EHC">
              <div class="group-3-YYn">
                <div class="navigation-JH4">See Result</div>
                <img class="logo-CtE" src="./assets/logo-CRU.png"/>
              </div>
            </div>
          </div>
          <div class="footer-81C">
            <img class="line-7-UKx" src="REPLACE_IMAGE:15:970"/>
            <div class="auto-group-adpu-nrS">
              <div class="class-L7G">
                <img class="logo-HHQ" src="./assets/logo-oNe.png"/>
                <div class="navigation-oWe">Class #1</div>
              </div>
              <div class="interval-XhY">
                <img class="logo-t2J" src="./assets/logo-Nri.png"/>
                <div class="navigation-bSW">5 mins</div>
              </div>
              <div class="date-LQ6">
                <img class="logo-VGz" src="./assets/logo-dga.png"/>
                <div class="navigation-p4N">23/4/1234</div>
              </div>
              <div class="date-kyc">
                <img class="logo-XDg" src="./assets/logo-3EN.png"/>
                <div class="navigation-3Sv">15</div>
              </div>
            </div>
          </div>
        </div>
        <div class="object1-ks8">
          <div class="auto-group-phxk-58i">
            <div class="title-a5U">Quizz #9</div>
            <div class="qr-button-5nv">
              <div class="group-3-QKQ">
                <div class="navigation-N1L">See Result</div>
                <img class="logo-Uq4" src="./assets/logo-qz6.png"/>
              </div>
            </div>
          </div>
          <div class="footer-D1x">
            <img class="line-7-mpA" src="REPLACE_IMAGE:15:992"/>
            <div class="auto-group-sars-WFx">
              <div class="class-3mg">
                <img class="logo-Q6S" src="./assets/logo-wyp.png"/>
                <div class="navigation-vqU">Class #1</div>
              </div>
              <div class="interval-fYA">
                <img class="logo-DJn" src="./assets/logo-pnz.png"/>
                <div class="navigation-LeJ">5 mins</div>
              </div>
              <div class="date-tA2">
                <img class="logo-q5G" src="./assets/logo-21c.png"/>
                <div class="navigation-MpJ">23/4/1234</div>
              </div>
              <div class="date-JjY">
                <img class="logo-fa6" src="./assets/logo-24W.png"/>
                <div class="navigation-PW6">15</div>
              </div>
            </div>
          </div>
        </div>
        <div class="object1-uUS">
          <div class="auto-group-ka7g-cte">
            <div class="title-YGW">Quizz #10</div>
            <div class="qr-button-fM8">
              <div class="group-3-Pnv">
                <div class="navigation-kdU">See Result</div>
                <img class="logo-Tnn" src="./assets/logo-hiv.png"/>
              </div>
            </div>
          </div>
          <div class="footer-zGv">
            <img class="line-7-whx" src="REPLACE_IMAGE:15:1014"/>
            <div class="auto-group-sexv-GES">
              <div class="class-1C2">
                <img class="logo-AKp" src="./assets/logo-Air.png"/>
                <div class="navigation-tWi">Class #1</div>
              </div>
              <div class="interval-2N2">
                <img class="logo-nMC" src="./assets/logo-9Dx.png"/>
                <div class="navigation-gxN">5 mins</div>
              </div>
              <div class="date-32E">
                <img class="logo-zCN" src="./assets/logo-H2W.png"/>
                <div class="navigation-Jyk">23/4/1234</div>
              </div>
              <div class="date-4CE">
                <img class="logo-pSJ" src="./assets/logo-DeW.png"/>
                <div class="navigation-kKx">15</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>