<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Management - Quizzes - Quizz #1</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Segoe+UI%3A300%2C400%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A300%2C400%2C600%2C700"/>
  <link rel="stylesheet" href="./styles/management-quizzes-quizz-1.css"/>
</head>
<body>
<div class="management-quizzes-quizz-1-vbx">
  <div class="nav-bar-SaJ">
    <div class="background-y4S">
    </div>
    <div class="account-5dG">
      <img class="logo-118" src="./assets/logo-QPY.png"/>
      <div class="title-8Le">User name</div>
    </div>
    <div class="preferences-FAN">
      <img class="logo-aCe" src="./assets/logo-MJ6.png"/>
      <div class="title-uVp">Preferences</div>
    </div>
    <div class="notification-3M8">
      <img class="logo-NuC" src="./assets/logo-FHY.png"/>
      <div class="title-KJe">Notification</div>
    </div>
    <div class="export-Tfk">
      <img class="logo-b1G" src="./assets/logo-Wni.png"/>
      <div class="title-8Wz">Export</div>
    </div>
    <div class="management-sjU">
      <div class="auto-group-zob4-QjQ">
        <img class="logo-LNA" src="./assets/logo-Dc2.png"/>
        <div class="title-UUN">Dashboard</div>
      </div>
      <div class="auto-group-cypy-2Ez">
        <img class="line-AMC" src="./assets/line-BDY.png"/>
        <div class="auto-group-wv3t-6Er">
          <div class="auto-group-zqdy-dEn">Quizzes</div>
          <div class="title-uTC">Classes</div>
        </div>
      </div>
    </div>
    <div class="new-quiz-EEa">
      <img class="logo-7pA" src="./assets/logo-gbG.png"/>
      <div class="title-qkA">New Quiz</div>
    </div>
    <div class="logo-MyQ">
      <img class="logo-6g6" src="./assets/logo-iTg.png"/>
      <div class="logo-EnJ">CNWeb-30</div>
    </div>
    <div class="expand-button-mXL">
      <div class="ellipse-1-uNe">
      </div>
      <p class="item--dZY">&lt;</p>
    </div>
  </div>
  <div class="right-bar-KBU">
    <div class="view-Fav">
      <div class="auto-group-avrc-BUa">
        <div class="upcoming-izJ">
          <div class="auto-group-1t2z-S9c">
            <div class="title-ALW">Upcoming</div>
            <div class="count-Uc6">
              <div class="rectangle-6-pfx">
              </div>
              <div class="navigation-9y8">3</div>
            </div>
          </div>
          <div class="object1-Ejg">
            <div class="auto-group-3msu-ANS">
              <div class="title-5kJ">Quizz #1</div>
              <div class="qr-button-C4E">
                <div class="group-3-X6W">
                  <div class="navigation-H5g">Get QR</div>
                  <img class="logo-CCe" src="./assets/logo-Ksc.png"/>
                </div>
              </div>
            </div>
            <div class="footer-hv6">
              <img class="line-7-fc2" src="REPLACE_IMAGE:15:1204"/>
              <div class="auto-group-5em4-oy8">
                <div class="class-WMk">
                  <img class="logo-rwQ" src="./assets/logo-HGS.png"/>
                  <div class="navigation-asQ">Class #1</div>
                </div>
                <div class="interval-88E">
                  <img class="logo-ftr" src="./assets/logo-VTU.png"/>
                  <div class="navigation-b1p">5 mins</div>
                </div>
                <div class="date-vJz">
                  <img class="logo-Aj8" src="./assets/logo-Yy4.png"/>
                  <div class="navigation-t9L">23/4/1234</div>
                </div>
                <div class="date-DhQ">
                  <img class="logo-NaJ" src="./assets/logo-2Mc.png"/>
                  <div class="navigation-6FQ">0</div>
                </div>
              </div>
            </div>
          </div>
          <div class="object1-CpE">
            <div class="auto-group-a4tw-7wC">
              <div class="title-3K4">Quizz #2</div>
              <div class="qr-button-B3t">
                <div class="group-3-Gr2">
                  <div class="navigation-1Yi">Get QR</div>
                  <img class="logo-t6i" src="./assets/logo-s3C.png"/>
                </div>
              </div>
            </div>
            <div class="footer-Bbc">
              <img class="line-7-LjQ" src="REPLACE_IMAGE:15:1226"/>
              <div class="auto-group-ywxj-Uai">
                <div class="class-nbQ">
                  <img class="logo-k2S" src="./assets/logo-6nS.png"/>
                  <div class="navigation-rrA">Class #1</div>
                </div>
                <div class="interval-nzi">
                  <img class="logo-x8W" src="./assets/logo-CQn.png"/>
                  <div class="navigation-5D8">5 mins</div>
                </div>
                <div class="date-oev">
                  <img class="logo-AVU" src="./assets/logo-a9k.png"/>
                  <div class="navigation-twG">23/4/1234</div>
                </div>
                <div class="date-SSz">
                  <img class="logo-CBG" src="./assets/logo-eM4.png"/>
                  <div class="navigation-JVC">0</div>
                </div>
              </div>
            </div>
          </div>
          <div class="object1-D6N">
            <div class="auto-group-inge-Kv6">
              <div class="title-r9L">Quizz #3</div>
              <div class="qr-button-xy4">
                <div class="group-3-Vi6">
                  <div class="navigation-qmx">Get QR</div>
                  <img class="logo-xLn" src="./assets/logo-y2W.png"/>
                </div>
              </div>
            </div>
            <div class="footer-GMU">
              <img class="line-7-25k" src="REPLACE_IMAGE:15:1248"/>
              <div class="auto-group-d2kn-ASr">
                <div class="class-GVt">
                  <img class="logo-Rta" src="./assets/logo-QmL.png"/>
                  <div class="navigation-9pa">Class #1</div>
                </div>
                <div class="interval-gZc">
                  <img class="logo-2tN" src="./assets/logo-hTt.png"/>
                  <div class="navigation-AUn">5 mins</div>
                </div>
                <div class="date-uhG">
                  <img class="logo-rsQ" src="./assets/logo-Co8.png"/>
                  <div class="navigation-MZG">23/4/1234</div>
                </div>
                <div class="date-VfU">
                  <img class="logo-rF8" src="./assets/logo-Mo4.png"/>
                  <div class="navigation-mst">0</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="happening-4MC">
          <div class="auto-group-6spx-mmQ">
            <div class="title-6og">Happening</div>
            <div class="count-cn2">
              <div class="rectangle-6-m98">
              </div>
              <div class="navigation-UpE">1</div>
            </div>
          </div>
          <div class="object1-ZKt">
            <div class="auto-group-rysz-HWn">
              <div class="title-DQS">Quizz #4</div>
              <div class="title-x78">4 minutes left</div>
            </div>
            <div class="footer-ULN">
              <img class="line-7-qRp" src="REPLACE_IMAGE:15:1180"/>
              <div class="auto-group-rqwt-mqG">
                <div class="class-JqC">
                  <img class="logo-ffk" src="./assets/logo-2yL.png"/>
                  <div class="navigation-Pre">Class #1</div>
                </div>
                <div class="interval-8JS">
                  <img class="logo-UdC" src="./assets/logo-Uo8.png"/>
                  <div class="navigation-bSv">5 mins</div>
                </div>
                <div class="date-Y7G">
                  <img class="logo-Hae" src="./assets/logo-Eox.png"/>
                  <div class="navigation-p4n">23/4/1234</div>
                </div>
                <div class="date-ZHG">
                  <img class="logo-vNi" src="./assets/logo-BDp.png"/>
                  <div class="navigation-3iE">15</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="past-LBY">
        <div class="rectangle-4-fzW">
        </div>
        <div class="object1-1Hg">
          <div class="auto-group-xktp-6a2">
            <div class="title-DPk">Quizz #5</div>
            <div class="qr-button-LUN">
              <div class="group-3-GN2">
                <div class="navigation-peS">See Result</div>
                <img class="logo-jWW" src="./assets/logo-hmg.png"/>
              </div>
            </div>
          </div>
          <div class="footer-rr2">
            <img class="line-7-cqC" src="REPLACE_IMAGE:15:1042"/>
            <div class="auto-group-ucf8-iNS">
              <div class="class-dEW">
                <img class="logo-MwC" src="./assets/logo-UHc.png"/>
                <div class="navigation-UW2">Class #1</div>
              </div>
              <div class="interval-pJz">
                <img class="logo-mk2" src="./assets/logo-scz.png"/>
                <div class="navigation-u5Y">5 mins</div>
              </div>
              <div class="date-3Se">
                <img class="logo-bj4" src="./assets/logo-jQA.png"/>
                <div class="navigation-vmL">23/4/1234</div>
              </div>
              <div class="date-fU2">
                <img class="logo-DkS" src="./assets/logo-xXG.png"/>
                <div class="navigation-Lq4">15</div>
              </div>
            </div>
          </div>
        </div>
        <div class="object1-FSE">
          <div class="auto-group-7ea2-XuY">
            <div class="title-ejG">Quizz #6</div>
            <div class="qr-button-m3C">
              <div class="group-3-6bG">
                <div class="navigation-f8a">See Result</div>
                <img class="logo-yf4" src="./assets/logo-VcJ.png"/>
              </div>
            </div>
          </div>
          <div class="footer-uHp">
            <img class="line-7-ryk" src="REPLACE_IMAGE:15:1064"/>
            <div class="auto-group-u6t8-nsQ">
              <div class="class-jne">
                <img class="logo-VWv" src="./assets/logo-hMY.png"/>
                <div class="navigation-1VG">Class #1</div>
              </div>
              <div class="interval-M3L">
                <img class="logo-u4r" src="./assets/logo-QFY.png"/>
                <div class="navigation-QXQ">5 mins</div>
              </div>
              <div class="date-wXL">
                <img class="logo-hFc" src="./assets/logo-wGz.png"/>
                <div class="navigation-pLE">23/4/1234</div>
              </div>
              <div class="date-YX8">
                <img class="logo-7KL" src="./assets/logo-oKC.png"/>
                <div class="navigation-EPx">15</div>
              </div>
            </div>
          </div>
        </div>
        <div class="object1-kdC">
          <div class="background-tUW">
          </div>
          <div class="footer-dBC">
            <img class="line-7-M7C" src="REPLACE_IMAGE:15:1086"/>
            <div class="auto-group-o5ca-Gzr">
              <div class="class-DfC">
                <img class="logo-yeN" src="./assets/logo-9WN.png"/>
                <div class="navigation-WPQ">Class #1</div>
              </div>
              <div class="interval-3eE">
                <img class="logo-Cn2" src="./assets/logo-2N2.png"/>
                <div class="navigation-Kre">5 mins</div>
              </div>
              <div class="date-sNN">
                <img class="logo-dMY" src="./assets/logo-ecW.png"/>
                <div class="navigation-9an">23/4/1234</div>
              </div>
              <div class="date-6F8">
                <img class="logo-Fdp" src="./assets/logo-otr.png"/>
                <div class="navigation-avz">15</div>
              </div>
            </div>
          </div>
          <div class="qr-button-inJ">
            <div class="background-rNi">
            </div>
            <div class="group-3-PdY">
              <img class="logo-Wy4" src="./assets/logo-sFC.png"/>
              <div class="navigation-qVY">See Result</div>
            </div>
          </div>
          <div class="title-n9t">Quizz #7</div>
        </div>
        <div class="object1-HcS">
          <div class="auto-group-gjzs-z14">
            <div class="title-6Jz">Quizz #8</div>
            <div class="qr-button-ojC">
              <div class="group-3-KxS">
                <div class="navigation-5wc">See Result</div>
                <img class="logo-Z66" src="./assets/logo-JRL.png"/>
              </div>
            </div>
          </div>
          <div class="footer-fup">
            <img class="line-7-q3c" src="REPLACE_IMAGE:15:1108"/>
            <div class="auto-group-zpkz-ZVQ">
              <div class="class-W9k">
                <img class="logo-4SA" src="./assets/logo-1Xk.png"/>
                <div class="navigation-Nxe">Class #1</div>
              </div>
              <div class="interval-iFp">
                <img class="logo-TUJ" src="./assets/logo-1Cz.png"/>
                <div class="navigation-P74">5 mins</div>
              </div>
              <div class="date-ur6">
                <img class="logo-4iz" src="./assets/logo-f9x.png"/>
                <div class="navigation-yqx">23/4/1234</div>
              </div>
              <div class="date-KQ2">
                <img class="logo-H5x" src="./assets/logo-9tr.png"/>
                <div class="navigation-bMY">15</div>
              </div>
            </div>
          </div>
        </div>
        <div class="object1-6p6">
          <div class="auto-group-ccxg-ajG">
            <div class="title-tzr">Quizz #9</div>
            <div class="qr-button-oM8">
              <div class="group-3-LM4">
                <div class="navigation-HXC">See Result</div>
                <img class="logo-bXt" src="./assets/logo-Ena.png"/>
              </div>
            </div>
          </div>
          <div class="footer-WPx">
            <img class="line-7-fGr" src="REPLACE_IMAGE:15:1130"/>
            <div class="auto-group-ugri-auc">
              <div class="class-via">
                <img class="logo-Uk6" src="./assets/logo-ge2.png"/>
                <div class="navigation-ziS">Class #1</div>
              </div>
              <div class="interval-jR8">
                <img class="logo-5zn" src="./assets/logo-X8S.png"/>
                <div class="navigation-1dY">5 mins</div>
              </div>
              <div class="date-9jk">
                <img class="logo-uU2" src="./assets/logo-hWW.png"/>
                <div class="navigation-dev">23/4/1234</div>
              </div>
              <div class="date-NcW">
                <img class="logo-w9p" src="./assets/logo-g4W.png"/>
                <div class="navigation-rna">15</div>
              </div>
            </div>
          </div>
        </div>
        <div class="object1-P1p">
          <div class="auto-group-8v46-GLW">
            <div class="title-BTU">Quizz #10</div>
            <div class="qr-button-JHC">
              <div class="group-3-2iz">
                <div class="navigation-zQv">See Result</div>
                <img class="logo-W8N" src="./assets/logo-qyG.png"/>
              </div>
            </div>
          </div>
          <div class="footer-dCz">
            <img class="line-7-PT4" src="REPLACE_IMAGE:15:1152"/>
            <div class="auto-group-7cgw-ugJ">
              <div class="class-FVG">
                <img class="logo-1US" src="./assets/logo-Wx6.png"/>
                <div class="navigation-vrJ">Class #1</div>
              </div>
              <div class="interval-Fta">
                <img class="logo-cDL" src="./assets/logo-F7L.png"/>
                <div class="navigation-Y6z">5 mins</div>
              </div>
              <div class="date-UFY">
                <img class="logo-q66" src="./assets/logo-qtJ.png"/>
                <div class="navigation-MaE">23/4/1234</div>
              </div>
              <div class="date-VRY">
                <img class="logo-Sbg" src="./assets/logo-Q2a.png"/>
                <div class="navigation-AXg">15</div>
              </div>
            </div>
          </div>
        </div>
        <div class="count-VK4">
          <div class="rectangle-6-EGe">
          </div>
          <div class="navigation-Ms4">6</div>
        </div>
        <div class="title-3jt">Past</div>
      </div>
    </div>
    <div class="navigation-wKU">
      <div class="rectangle-5-eza">
      </div>
      <div class="navigation-bev">Dashboard</div>
      <p class="item--uQi">&gt;</p>
      <div class="navigation-cpv">Quizzes</div>
    </div>
    <div class="quizz-info-x86">
      <div class="title-cyL">Quizz #4</div>
      <img class="logo-6tW" src="./assets/logo-8Sz.png"/>
      <div class="auto-group-rkhl-ySW">
        <div class="group-4-GAi">
          <img class="logo-vm4" src="./assets/logo-zKg.png"/>
          <div class="navigation-4sG">Class #1</div>
        </div>
        <div class="group-5-PuY">
          <img class="logo-iS2" src="./assets/logo-3xA.png"/>
          <div class="navigation-3z6">5 minutes</div>
        </div>
        <div class="group-6-z8e">
          <img class="logo-Wsg" src="./assets/logo-fkz.png"/>
          <div class="navigation-48W">23/4/1234</div>
        </div>
      </div>
      <div class="auto-group-dbdy-nKQ">
        <div class="group-8-hhG">
          <img class="logo-okJ" src="./assets/logo-xSa.png"/>
          <div class="navigation-kQe">Subject #1</div>
        </div>
        <div class="group-7-Gtn">
          <img class="logo-zZt" src="./assets/logo-VQa.png"/>
          <div class="navigation-8g6">15</div>
        </div>
      </div>
      <img class="line-7-euL" src="REPLACE_IMAGE:15:1555"/>
      <div class="title-myx">Statistics</div>
      <div class="qr-button-5ze">Export Data</div>
    </div>
  </div>
</div>
</body>