<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>nav-bar</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Segoe+UI%3A400%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C600%2C700"/>
  <link rel="stylesheet" href="./styles/nav-bar.css"/>
</head>
<body>
<div class="nav-bar-ZyY">
  <div class="background-WNz">
  </div>
  <div class="account-dTc">
    <img class="logo-9wk" src="./assets/logo-dJW.png"/>
    <div class="title-tuL">User name</div>
  </div>
  <div class="preferences-dM8">
    <img class="logo-N3p" src="./assets/logo-otS.png"/>
    <div class="title-Wfp">Preferences</div>
  </div>
  <div class="notification-FdQ">
    <img class="logo-Nxv" src="./assets/logo-BnE.png"/>
    <div class="title-WJS">Notification</div>
  </div>
  <div class="export-3ZG">
    <img class="logo-aZC" src="./assets/logo-mPk.png"/>
    <div class="title-7JE">Export</div>
  </div>
  <div class="management-rmc">
    <div class="auto-group-aoee-z78">
      <img class="logo-ujt" src="./assets/logo-t5k.png"/>
      <div class="title-fDG">Dashboard</div>
    </div>
    <div class="auto-group-jkqn-oqG">
      <img class="line-Z3k" src="./assets/line-nyC.png"/>
      <div class="auto-group-wvcr-Gir">
        <div class="auto-group-yevk-q1G">Quizzes</div>
        <div class="title-JfY">Classes</div>
      </div>
    </div>
  </div>
  <div class="new-quiz-dhp">
    <img class="logo-jF4" src="./assets/logo-Wzi.png"/>
    <div class="title-Fz6">New Quiz</div>
  </div>
  <div class="logo-ZUz">
    <img class="logo-6Uv" src="./assets/logo-Xin.png"/>
    <div class="logo-RXC">CNWeb-30</div>
  </div>
  <div class="expand-button-x1L">
    <div class="ellipse-1-V1G">
    </div>
    <p class="item--1VQ">&lt;</p>
  </div>
</div>
</body>