<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>nav-bar-minimum</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C600"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Segoe+UI%3A400%2C600"/>
  <link rel="stylesheet" href="./styles/nav-bar-minimum.css"/>
</head>
<body>
<div class="nav-bar-minimum-g54">
  <div class="background-R2e">
  </div>
  <img class="logo-wFt" src="./assets/logo-CU6.png"/>
  <img class="logo-Tzv" src="./assets/logo-UwG.png"/>
  <img class="logo-zzr" src="./assets/logo-X4A.png"/>
  <img class="logo-YWa" src="./assets/logo-tW2.png"/>
  <div class="management-Uf8">
    <img class="logo-1QA" src="./assets/logo-c38.png"/>
    <div class="auto-group-6fjn-LxE">
      <img class="line-h26" src="./assets/line-zYN.png"/>
      <div class="group-1-Rin">
        <div class="title-kFG">Quizzes</div>
        <div class="title-rp6">Classes</div>
      </div>
    </div>
  </div>
  <div class="new-quiz-i5c">
    <img class="logo-qR8" src="./assets/logo-afx.png"/>
  </div>
  <img class="logo-9wc" src="./assets/logo-p3G.png"/>
  <div class="expand-button-gge">
    <div class="ellipse-1-DRg">
    </div>
    <p class="item--wca">&gt;</p>
  </div>
</div>
</body>