<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Pallette</title>
  <link rel="stylesheet" href="./styles/pallette.css"/>
</head>
<body>
<div class="pallette-xtE">
  <img class="logo-Tpz" src="./assets/logo-rNz.png"/>
  <div class="auto-group-qjg6-Bkz">
    <div class="rectangle-7-WoG">
    </div>
    <img class="auto-group-5wgn-dst" src="./assets/auto-group-5wgn.png"/>
  </div>
  <div class="auto-group-bsfp-yRx">
    <div class="rectangle-8-KVp">
    </div>
    <img class="toright-1-T6E" src="./assets/toright-1.png"/>
    <img class="toright-thick-1-mci" src="./assets/toright-thick-1.png"/>
  </div>
  <div class="auto-group-xt22-6ez">
    <img class="time-1-EWJ" src="./assets/time-1.png"/>
    <img class="time-thick-1-Aer" src="./assets/time-thick-1.png"/>
  </div>
  <div class="auto-group-vjhy-74J">
    <div class="rectangle-9-pDc">
    </div>
    <img class="subject-1-Zgz" src="./assets/subject-1.png"/>
    <img class="subject-thick-1-VKk" src="./assets/subject-thick-1.png"/>
  </div>
  <div class="auto-group-ja7x-cfG">
    <div class="rectangle-10-YYv">
    </div>
    <div class="auto-group-xoav-fNe">
      <img class="sun-line-1-CNa" src="./assets/sun-line-1.png"/>
      <img class="qr-1-92v" src="./assets/qr-1.png"/>
    </div>
    <div class="auto-group-uk6a-5BU">
      <img class="sun-fill-1-cx6" src="./assets/sun-fill-1.png"/>
      <img class="qr-thick-1-Yar" src="./assets/qr-thick-1.png"/>
    </div>
  </div>
  <div class="auto-group-h3la-sd8">
    <div class="rectangle-11-Qd4">
    </div>
    <img class="right-1-83G" src="./assets/right-1.png"/>
    <img class="right-thick-1-T5Y" src="./assets/right-thick-1.png"/>
  </div>
  <div class="auto-group-1j1c-PUz">
    <div class="rectangle-12-j34">
    </div>
    <img class="export-1-4b8" src="./assets/export-1.png"/>
    <img class="clip-path-group-Qez" src="./assets/clip-path-group.png"/>
  </div>
  <div class="auto-group-p9nw-jBU">
    <div class="rectangle-13-TdG">
    </div>
    <div class="auto-group-zcaj-BZG">
      <img class="class-1-wHY" src="./assets/class-1.png"/>
      <img class="date-1-U2a" src="./assets/date-1.png"/>
    </div>
    <div class="auto-group-bm3c-246">
      <img class="class-thick-1-xyL" src="./assets/class-thick-1.png"/>
      <img class="date-thick-1-hvv" src="./assets/date-thick-1.png"/>
    </div>
  </div>
  <div class="auto-group-bd5q-dZg">
    <div class="auto-group-ktkl-MVg">
      <div class="rectangle-14-HPL">
      </div>
      <div class="rectangle-15-2Lv">
      </div>
    </div>
    <div class="auto-group-dptt-N9t">
      <img class="add-1-Wmt" src="./assets/add-1.png"/>
      <img class="menu-1-FDg" src="./assets/menu-1.png"/>
      <img class="moon-line-1-BNE" src="./assets/moon-line-1.png"/>
    </div>
    <div class="auto-group-ukmy-v4v">
      <img class="add-thick-1-TqY" src="./assets/add-thick-1.png"/>
      <img class="menu-thick-1-bRx" src="./assets/menu-thick-1.png"/>
      <img class="moon-fill-1-L8e" src="./assets/moon-fill-1.png"/>
    </div>
  </div>
  <div class="auto-group-ftmg-FFc">
    <img class="human-1-nFY" src="./assets/human-1.png"/>
    <img class="human-thick-1-uLA" src="./assets/human-thick-1.png"/>
  </div>
  <div class="auto-group-rjpa-3SN">
    <img class="notification-1-PFL" src="./assets/notification-1.png"/>
    <img class="notification-thick-1-iHc" src="./assets/notification-thick-1.png"/>
  </div>
  <div class="auto-group-hefy-FoL">
    <img class="left-1-noG" src="./assets/left-1.png"/>
    <img class="left-thick-1-wAN" src="./assets/left-thick-1.png"/>
  </div>
  <div class="auto-group-qvpg-fs4">
    <img class="dashboard-2-D7t" src="./assets/dashboard-2.png"/>
    <img class="dashboard-thick-1-wpa" src="./assets/dashboard-thick-1.png"/>
  </div>
  <div class="auto-group-eddg-5vn">
    <img class="quiz-1-dhQ" src="./assets/quiz-1.png"/>
    <img class="quiz-thick-1-BD8" src="./assets/quiz-thick-1.png"/>
  </div>
</div>
</body>