<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Sign Up</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Segoe+UI%3A300%2C400%2C600"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A300%2C400%2C600"/>
  <link rel="stylesheet" href="./styles/sign-up.css"/>
</head>
<body>
<div class="sign-up-gHk">
  <div class="signup-card-PT4">
    <p class="label-VW6">Welcome!</p>
    <div class="sign-form-Bdp">
      <div class="name-input-WAJ">Name</div>
      <div class="username-input-ZuG">Email</div>
      <div class="password-input-du8">New password</div>
      <div class="password-again-JEa">Type password again</div>
      <div class="submit-button-AGn">Create Account</div>
    </div>
    <div class="divider-ps8">
      <div class="line-3-ZJv">
      </div>
      <div class="placeholder-FhY">Or</div>
      <div class="line-2-ytS">
      </div>
    </div>
    <div class="microsoft-button-5An">Connect with Microsoft</div>
    <div class="signup-button-vx6">Already have an account? Sign In</div>
  </div>
</div>
</body>