form button {
    border: 1px solid rgba(86, 86, 86, 0.736);
    padding: 10px;
    border-radius: 12px;
    background-color: #21212166;
}

form button:hover {
    background-color: rgb(48, 133, 231);
}

button.ok {
    border: 1px solid rgba(86, 86, 86, 0.736);
    padding: 10px;
    border-radius: 12px;
    background-color: #21212166;
}

button.ok:hover {
    background-color: rgb(48, 133, 231);
}