.quiz-dashboard {
    /* background-color: white; */
}

.dashboard-column {
    border: 1px solid red;

}

.items-group {
    border: 1px solid yellow;
}

.modal {
    background-color: black;
}

.edit-button {
    background-color: blue;
    z-index: 10;
}