.header-container {
  border-bottom: 1px solid rgb(133, 133, 133);
  padding: 1rem 3rem;
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(15px);
}

.header-container .container-fluid {
  display: flex;
  justify-content: space-between;
}

.container-fluid .logo {
  gap: 8px;
}

.container-fluid .nav-bar {
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  max-width: 70%;
}

.container-fluid .header-right {
  gap: 13px;
}

.header-right .get-started {
  border-radius: 20px;
  justify-items: center;
}

@media only screen and (max-width: 1000px) {
  .header-web {
    display: none !important;
  }

  .header-mobile {
    display: block !important;
  }
}