.nav-button:hover {
    color: #C4181A !important;
    font-weight: 500;
  }
  
  .nav-button {
    color: #909090
  }
  
  .sub-nav-li { 
    color: #909090
  }
  
  .sub-nav-div { 
    color: #909090
  }
  
  .sub-nav-li:hover {
    color: #C4181A !important;
  }
  
  .sub-nav-div:hover {
    color: #C4181A !important;
  }
  
  .header-mobile {
    display: none;
  }
  
  @media only screen and (max-width: 1300px) {
    .header-web {
      display: none !important;
    }
  
    .header-mobile {
      display: block !important;
    }
  
    #header-container {
      padding: 1.5rem 5% !important;
      position: fixed !important;
      background-color: white !important;
      z-index: 99 !important;
    }
  }