.log-in {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  border: 1px solid red;
  background: rgba(61, 61, 61, 0.1);
  backdrop-filter: blur(6px);
  border-radius: 19px;
}

form {
  display: flex;
  flex-direction: column;
}